.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  background: #000;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1070px;
}
.header .container::before {
  display: none;
}
.header .container::after {
  display: none;
}
.header .container .logo img {
  width: 40px;
}
.header .container .menu {
  padding: 0 20px;
}
.header .container .menu a {
  color: #fff;
  margin-right: 40px;
  font-family: Aeroport;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 98.7%;
  letter-spacing: -0.05em;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
}
.header .container .menu a:last-child {
  margin-right: 0;
}
.header .container .menu a:last-child::before {
  display: none;
}
.header .container .menu a::before {
  content: "";
  width: 1px;
  height: 80%;
  position: absolute;
  right: -20px;
  top: 20%;
  background: #3E3E3E;
}
.header .container .lang {
  cursor: pointer;
  position: relative;
}
.header .container .lang.active .lang-top img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.header .container .lang.active .lang-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: unset;
}
.header .container .lang .lang-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: #000000;
  border-radius: 10px;
}
.header .container .lang .lang-top span {
  margin-right: 5px;
  color: #fff;
  font-family: Aeroport;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.header .container .lang .lang-top img {
  width: 7px;
  height: 6px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .container .lang .lang-drop {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#181818)), #C4C4C4;
  background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  padding: 15px;
  display: none;
  height: 0;
}
.header .container .lang .lang-drop a {
  margin-bottom: 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#181818)), #C4C4C4;
  background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
  border-radius: 10px;
  color: #959595;
  font-family: Aeroport;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 98.7%;
  /* identical to box height, or 30px */
  text-decoration: none;
  letter-spacing: -0.05em;
}
.header .container .lang .lang-drop a:last-child {
  margin-bottom: 0;
}
.header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .menu-m {
  display: none;
}
.header .container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.05em;
  padding: 13px 20px;
  color: #FFFFFF;
  background: #000000;
  border: 2px solid #393939;
  border-radius: 30px;
  text-decoration: none;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .btn:hover {
  background: #0071E0;
  border: 2px solid transparent;
}
.header .container .btn img {
  margin-right: 15px;
}

.con-mod {
  width: 100% !important;
  max-width: 1250px !important;
  padding: 0 15px;
}
.con-mod::before, .con-mod::after {
  display: none !important;
}

.price-adent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 550px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px 0;
}
.price-adent .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.price-adent .left::before {
  content: "";
  width: 65px;
  height: 1px;
  position: absolute;
  left: 0;
  top: -15px;
  background: #fff;
}
.price-adent .left p {
  font-weight: normal;
  font-size: 25px;
  line-height: 120%;
  margin: 0;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.6);
}
.price-adent .left p b {
  color: white;
}
.price-adent .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.price-adent .right::before {
  content: "";
  width: 65px;
  height: 1px;
  position: absolute;
  left: 0;
  top: -15px;
  background: #fff;
}
.price-adent .right p {
  font-weight: normal;
  font-size: 25px;
  line-height: 120%;
  margin: 0;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.6);
}
.price-adent .right p b {
  color: white;
}

.top__links-mod {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #2E2E2E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}
.top__links-mod .top__link-mod {
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.05em;
  padding: 14px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  min-height: 62px;
  border-radius: 100px;
}
.top__links-mod .top__link-mod.active {
  background: #0071E0;
}

.sction-adent {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
}
.sction-adent .container h2 {
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 50px;
  line-height: 68px;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.6);
}
.sction-adent .container h2 b {
  color: white;
}
.sction-adent .container .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.sction-adent .container .title-box .img {
  width: 100%;
  min-width: 162px;
  max-width: 162px;
  height: 100%;
  min-height: 162px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 28px;
}
.sction-adent .container .title-box .btn-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.sction-adent .container .title-box .btn-go span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 35px;
  line-height: 48px;
  letter-spacing: -0.05em;
  margin-bottom: 30px;
  color: #FFFFFF;
}
.sction-adent .container .title-box .btn-go span img {
  margin-left: 15px;
}
.sction-adent .container .title-box .btn-go .btn {
  padding: 10px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 19.6078px;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.05em;
  background: -webkit-gradient(linear, left bottom, left top, from(#0071E0), to(#0071E0)), #FADA97;
  background: linear-gradient(0deg, #0071E0, #0071E0), #FADA97;
  border-radius: 78.4314px;
  color: #FFFFFF;
}
.sction-adent .container .title-box .table-column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.sction-adent .container .title-box .table-column .colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 17px 0;
  position: relative;
}
.sction-adent .container .title-box .table-column .colum::before {
  content: "";
  width: 1px;
  height: 70%;
  position: absolute;
  right: 0;
  top: 15%;
  background: #2E2E2E;
}
.sction-adent .container .title-box .table-column .colum:last-child::before {
  display: none;
}
.sction-adent .container .title-box .table-column .colum span {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.05em;
  color: #959595;
}
.sction-adent .container .title-box .table-column .colum p {
  margin: 7px 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.sction-adent .container .sliders-boxs {
  width: 100%;
  margin-top: 70px;
}
.sction-adent .container .sliders-boxs .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sction-adent .container .sliders-boxs .swiper-container .swiper-wrapper .swiper-slide .box {
  width: 100%;
  height: 100%;
}
.sction-adent .container .sliders-boxs .swiper-container .swiper-wrapper .swiper-slide .box img {
  width: 100%;
  height: 100%;
}

.consultation {
  padding: 100px 0;
  width: 100%;
}
.consultation .container .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.consultation .container .box .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.consultation .container .box .left .item {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.consultation .container .box .left .item:last-child {
  margin-bottom: 0;
}
.consultation .container .box .left .item .img {
  min-width: 70px;
  margin-right: 70px;
}
.consultation .container .box .left .item .img img {
  width: 80%;
}
.consultation .container .box .left .item span {
  display: block;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.6);
}
.consultation .container .box .left .item span b {
  color: #FFFFFF;
}
.consultation .container .box .right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.consultation .container .box .right .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.consultation .container .box .right .socials a {
  margin: 0 20px;
}
.consultation .container .box .right .btn {
  padding: 13px 50px;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.05em;
  text-decoration: none;
  background: #0071E0;
  border-radius: 100px;
  color: #FFFFFF;
}

.section-one {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-one .container {
  position: relative;
}
.section-one .container::before {
  content: "";
  width: 100%;
  max-width: 646px;
  height: 100%;
  min-height: 542px;
  position: absolute;
  right: 0;
  z-index: -5;
  background: url("../images/top.png") center right no-repeat;
  background-size: cover;
}

.section-one-title {
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #7a7a7a;
}
.section-one-title b {
  color: #fff;
}
.section-one-title img {
  display: inline;
  width: 50px;
  vertical-align: middle;
}

.section-one-tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 25px;
  line-height: 98.7%;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
  margin-bottom: 70px;
  color: #959595;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section-one-tg img {
  margin-right: 30px;
}
.section-one-tg .imgs {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-one-tg .img-2 {
  display: none;
}
.section-one-tg:hover {
  color: #fff;
}
.section-one-tg:hover .img-1 {
  display: none;
}
.section-one-tg:hover .img-2 {
  display: block;
}

.section-one-btns {
  width: 100%;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #2E2E2E;
  border-radius: 100px;
}
.section-one-btns .btn {
  min-height: 62px;
  max-height: 62px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}
.section-one-btns .btn:nth-child(2) {
  width: 60%;
}
.section-one-btns .btn:hover {
  background: #0071E0;
}
.section-one-btns .btn.active {
  background: #0071E0;
}

.modal-form-quiz {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal-form-quiz.active {
  opacity: 1;
  pointer-events: visible;
}
.modal-form-quiz.active .modal-form-quiz-content {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.modal-form-quiz-bg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background: #080809;
  opacity: 0.5;
}
.modal-form-quiz-content {
  width: 100%;
  max-width: 624px;
  padding: 40px;
  position: relative;
  z-index: 1001;
  background: #080809;
  border: 1px solid #343434;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal-form-quiz-content .items {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal-form-quiz-content .items.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-form-quiz-content .items-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}
.modal-form-quiz-content .items-title span {
  display: block;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #FBFAFA;
}
.modal-form-quiz-content .items-title a {
  margin-top: 5px;
  cursor: pointer;
}
.modal-form-quiz-content .items .type-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-form-quiz-content .items .type-row-check {
  position: relative;
  width: auto;
  margin-right: 15px;
}
.modal-form-quiz-content .items .type-row-check:last-child {
  margin-right: 0;
}
.modal-form-quiz-content .items .type-row-check input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}
.modal-form-quiz-content .items .type-row-check input:checked ~ .type-row-check-text {
  border: 1px solid transparent;
  background: #0071E0;
}
.modal-form-quiz-content .items .type-row-check-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #FBFAFA;
  padding: 13px 20px;
  border: 1px solid #343434;
  border-radius: 69.6864px;
  cursor: pointer;
}
.modal-form-quiz-content .items .type-textarea {
  width: 100%;
  border-bottom: 1px solid #343434;
  padding: 10px 10px 20px 10px;
}
.modal-form-quiz-content .items .type-textarea textarea {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #FBFAFA;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}
.modal-form-quiz-content .items .type-input-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-form-quiz-content .items .type-input {
  width: 100%;
  border-bottom: 1px solid #343434;
  padding: 10px;
  margin: 0 7px;
}
.modal-form-quiz-content .items .type-input:last-child {
  margin-right: 0;
}
.modal-form-quiz-content .items .type-input input {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #B4B4B4;
  border: none;
  background: transparent;
}
.modal-form-quiz-content .items .bt-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-form-quiz-content .items .bt-row .btn {
  margin-right: 10px;
}
.modal-form-quiz-content .items .bt-row .btn.btn-black {
  color: #fff;
  background: #080809;
  border: none;
}
.modal-form-quiz-content .items .bt-row .btn.btn-black::after {
  opacity: 0;
}
.modal-form-quiz-content .items .row-all-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.modal-form-quiz-content .items .text-error {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  display: none;
  color: #FF4141;
}
.modal-form-quiz-content .items .text-error.active {
  display: block;
}
.modal-form-quiz-content .items .btn {
  font-size: 16px;
  line-height: 15px;
  padding: 13px 20px;
  background: #fff;
  border-radius: 100px;
  cursor: pointer;
  color: #080808;
}
.modal-form-quiz-content .items .btn.btn-return-js {
  margin-top: 0;
}

@media (max-width: 980px) {
  .header {
    width: 100%;
    min-height: 70px;
  }
  .header .container {
    padding: 10px;
  }
  .header .container .logo img {
    width: 30px;
  }
  .header .container .menu {
    display: none;
  }
  .header .container .lang {
    display: none;
  }
  .header .container .menu-m {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 40;
  }
  .header .container .menu-m.active .menu-m-wrapper {
    display: block;
  }
  .header .container .menu-m .menu-m-open {
    width: 100%;
    max-width: 20px;
    min-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header .container .menu-m .menu-m-open span {
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header .container .menu-m .menu-m-wrapper {
    position: absolute;
    top: -10px;
    background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#181818)), #C4C4C4;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
    width: 100%;
    max-width: 202px;
    min-height: 204px;
    padding: 20px;
    display: none;
  }
  .header .container .menu-m .menu-m-wrapper .close {
    position: absolute;
    right: 10px;
    top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    min-height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    z-index: 20;
  }
  .header .container .menu-m .menu-m-wrapper .close span {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
  }
  .header .container .menu-m .menu-m-wrapper .close span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .container .menu-m .menu-m-wrapper .close span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m.active .lang-top img {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m.active .lang-drop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: unset;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#181818)), #C4C4C4;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top span {
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 100%;
    margin-top: -3px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top img {
    width: 7px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-drop {
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#181818)), #C4C4C4;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 110%;
    padding: 10px 0;
    min-height: 180px;
    display: none;
    height: 0;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-drop a {
    margin-bottom: 15px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
  }
  .header .container .menu-m .menu-m-wrapper .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .container .menu-m .menu-m-wrapper .bottom a {
    color: #fff;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #3E3E3E;
    margin-top: 20px;
    text-decoration: none;
  }
  .header .container .menu-m .menu-m-wrapper .bottom a:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .price-adent .left p {
    font-size: 16px;
  }
  .price-adent .right p {
    font-size: 16px;
  }

  .top__links-mod {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top__links-mod .top__link-mod {
    width: 100%;
    min-height: 41px;
    font-size: 15px;
    line-height: 21px;
    padding: 0;
  }

  .sction-adent {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .sction-adent .container h2 {
    font-size: 25px;
    margin-bottom: 35px;
  }
  .sction-adent .container .title-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sction-adent .container .title-box .img {
    min-width: 130px;
    min-height: 130px;
    max-width: 130px;
  }
  .sction-adent .container .title-box .btn-go {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .sction-adent .container .title-box .btn-go span {
    font-size: 17px;
    margin-bottom: 15px;
  }
  .sction-adent .container .title-box .btn-go span img {
    width: 15px;
  }
  .sction-adent .container .title-box .btn-go .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .sction-adent .container .title-box .table-column {
    width: 100%;
    margin-top: 30px;
  }
  .sction-adent .container .title-box .table-column .colum span {
    font-size: 12px;
  }
  .sction-adent .container .title-box .table-column .colum p {
    font-size: 20px;
    line-height: 140%;
  }
  .sction-adent .container .sliders-boxs {
    margin-top: 35px;
  }

  .consultation {
    padding-top: 0;
  }
  .consultation .container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consultation .container .box .left {
    width: 100%;
    margin-bottom: 70px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .consultation .container .box .left .item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consultation .container .box .left .item .img {
    margin-right: 35px;
    margin-bottom: 15px;
    min-width: 50px;
  }
  .consultation .container .box .left .item span {
    font-size: 16px;
    line-height: 140%;
  }
  .consultation .container .box .right {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .consultation .container .box .right .socials {
    margin-bottom: 25px;
  }
  .consultation .container .box .right .socials a {
    margin: 0 10px;
  }
  .consultation .container .box .right .socials a:first-child {
    margin-left: 0;
  }
  .consultation .container .box .right .socials a img {
    width: 25px;
  }
  .consultation .container .box .right .btn {
    padding: 13px 25px;
    font-size: 15px;
    line-height: 21px;
  }

  .container {
    max-width: 100% !important;
    min-width: 100%;
  }

  .section-one .container::before {
    content: "";
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 542px;
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: -5;
    background: url("../images/top.png") bottom right no-repeat;
    background-size: contain;
  }

  .section-one-title {
    margin-bottom: 35px;
    font-size: 30px;
  }
  .section-one-title img {
    width: 30px;
  }

  .section-one-tg {
    font-size: 18px;
  }

  .section-one-btns {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .section-one-btns .btn {
    min-height: 50px;
    max-height: 50px;
    font-size: 14px;
  }
  .section-one-btns .btn:nth-child(2) {
    width: 60%;
  }
  .section-one-btns .btn:hover {
    background: #0071E0;
  }

  .modal-form-quiz {
    padding: 15px;
  }
  .modal-form-quiz-content {
    padding: 30px 20px;
  }
  .modal-form-quiz-content .items-title {
    margin-bottom: 40px;
  }
  .modal-form-quiz-content .items-title span {
    width: 90%;
    font-size: 20px;
    line-height: 24px;
  }
  .modal-form-quiz-content .items .type-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .modal-form-quiz-content .items .type-row-check {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .header {
    width: 100%;
    min-height: 70px;
  }
  .header .container {
    padding: 10px;
  }
  .header .container .logo img {
    width: 30px;
  }
  .header .container .menu {
    display: none;
  }
  .header .container .lang {
    display: none;
  }
  .header .container .menu-m {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 40;
  }
  .header .container .menu-m.active .menu-m-wrapper {
    display: block;
  }
  .header .container .menu-m .menu-m-open {
    width: 100%;
    max-width: 20px;
    min-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header .container .menu-m .menu-m-open span {
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header .container .menu-m .menu-m-wrapper {
    position: absolute;
    top: -10px;
    background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#181818)), #C4C4C4;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
    width: 100%;
    max-width: 202px;
    min-height: 204px;
    padding: 20px;
    display: none;
  }
  .header .container .menu-m .menu-m-wrapper .close {
    position: absolute;
    right: 10px;
    top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    min-height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    z-index: 20;
  }
  .header .container .menu-m .menu-m-wrapper .close span {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
  }
  .header .container .menu-m .menu-m-wrapper .close span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .container .menu-m .menu-m-wrapper .close span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m.active .lang-top img {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m.active .lang-drop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: unset;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#181818)), #C4C4C4;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top span {
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 100%;
    margin-top: -3px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top img {
    width: 7px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-drop {
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#181818), to(#181818)), #C4C4C4;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 110%;
    padding: 10px 0;
    min-height: 180px;
    display: none;
    height: 0;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-drop a {
    margin-bottom: 15px;
    color: #fff;
    font-size: 15px;
  }
  .header .container .menu-m .menu-m-wrapper .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .container .menu-m .menu-m-wrapper .bottom a {
    color: #fff;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #3E3E3E;
    margin-top: 20px;
  }
  .header .container .menu-m .menu-m-wrapper .bottom a:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .price-adent .left p {
    font-size: 16px;
  }
  .price-adent .right p {
    font-size: 16px;
  }

  .top__links-mod {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top__links-mod .top__link-mod {
    width: 100%;
    min-height: 41px;
    font-size: 15px;
    line-height: 21px;
    padding: 0;
  }

  .sction-adent {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .sction-adent .container h2 {
    font-size: 25px;
    margin-bottom: 35px;
  }
  .sction-adent .container .title-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sction-adent .container .title-box .img {
    min-width: 130px;
    min-height: 130px;
    max-width: 130px;
  }
  .sction-adent .container .title-box .btn-go {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .sction-adent .container .title-box .btn-go span {
    font-size: 17px;
    margin-bottom: 15px;
  }
  .sction-adent .container .title-box .btn-go span img {
    width: 15px;
  }
  .sction-adent .container .title-box .btn-go .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .sction-adent .container .title-box .table-column {
    width: 100%;
    margin-top: 30px;
  }
  .sction-adent .container .title-box .table-column .colum span {
    font-size: 12px;
  }
  .sction-adent .container .title-box .table-column .colum p {
    font-size: 20px;
    line-height: 140%;
  }
  .sction-adent .container .sliders-boxs {
    margin-top: 35px;
  }

  .consultation {
    padding-top: 0;
  }
  .consultation .container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consultation .container .box .left {
    width: 100%;
    margin-bottom: 70px;
  }
  .consultation .container .box .left .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .consultation .container .box .left .item .img {
    margin-right: 35px;
    margin-bottom: 15px;
    min-width: 50px;
  }
  .consultation .container .box .left .item span {
    font-size: 16px;
    line-height: 140%;
  }
  .consultation .container .box .right {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .consultation .container .box .right .socials {
    margin-bottom: 25px;
  }
  .consultation .container .box .right .socials a {
    margin: 0 10px;
  }
  .consultation .container .box .right .socials a:first-child {
    margin-left: 0;
  }
  .consultation .container .box .right .socials a img {
    width: 25px;
  }
  .consultation .container .box .right .btn {
    padding: 13px 25px;
    font-size: 15px;
    line-height: 21px;
  }
}