* {
  box-sizing: border-box;
  outline: none !important; }

img {
  max-width: 100%; }

.clearfix:before, .container:before,
.clearfix:after,
.container:after {
  content: "";
  display: table; }


.clearfix:after,
.container:after {
  clear: both; }

.clearfix, .container {
  *zoom: 1; }

html {
  font-size: 16px; }

body {
  font-family: "Aeroport", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .2s;
  transition: .2s; }

.section_scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 345px;
  position: relative;
  z-index: 5; }
  @media (min-width: 768px) {
    .container {
      max-width: none;
      width: 100%; 
      max-width: 750px;
    } 
  }
  @media (min-width: 1200px) {
    .container {
      width: 100%; 
      max-width: 1026px;
    } 
  }

  @media (min-width: 1600px) {
    .container {
      width: 100%;
      max-width: 1070px;
      padding: 0 15px;
    } 
}

.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.01rem;
  line-height: 130%;
  color: #959595;
  margin-bottom: 31px; }
  .title strong {
    color: #fff;
    font-weight: 500; }
  .title img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-width: 10px;
    max-height: 30px;
    margin-left: 4px;
    top: 1px; }
  @media (min-width: 1200px) {
    .title {
      font-size: 40px;
      margin-bottom: 48px; 
    }
      .title img {
        margin-left: 9px;
        top: 3px;
        max-width: 30px;
        max-height: 75px; } }
  @media (min-width: 1360px) {
    .title {
      font-size: 40px;
      line-height: 110%; }
      .title img {
        max-height: 60px; } }

@media (min-width: 1600px) and (min-height: 950px) {
  .title {
    font-size: 4rem;
    line-height: 4rem; }
    .title img {
      max-height: 60px; } }

@media (min-width: 1600px) and (min-height: 1080px) {
  .title {
    font-size: 5rem;
    line-height: 4.9375rem; }
    .title img {
      max-height: 75px; } }

.consult__list {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  .consult__list li {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-right: 26px;
    margin-bottom: 20px; }
    .consult__list li:last-child {
      margin-right: 0; }
  .consult__list img {
    width: 32px;
    height: 32px; }
  @media (min-width: 1200px) {
    .consult__list li {
      margin-right: 50px; }
    .consult__list img {
      width: 59px;
      height: 59px; } }

.consult__info {
  color: #959595;
  font-size: 1.25rem;
  letter-spacing: -0.062rem;
  line-height: 1.234rem;
  margin-top: 5px;
margin-bottom: 40px; }
  @media (min-width: 1200px) {
    .consult__info {
      font-size: 1.875rem;
      letter-spacing: -0.094rem;
      line-height: 1.851rem;
      margin-top: 17px; } }

@media (max-width: 767px) {
  .h-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .h-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .h-md {
    display: none !important; } }

@media (min-width: 1200px) and (max-width: 1359px) {
  .h-lg {
    display: none !important; } }

@media (min-width: 1360px) {
  .h-xlg {
    display: none !important; } }

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport-Light.eot");
  src: local("Aeroport Light"), local("Aeroport-Light"), url("../fonts/Aeroport/Aeroport-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport-Light.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport-Light.woff") format("woff"), url("../fonts/Aeroport/Aeroport-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Aeroport Mono';
  src: url("../fonts/Aeroport/AeroportMono.eot");
  src: local("Aeroport Mono"), local("AeroportMono"), url("../fonts/Aeroport/AeroportMono.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/AeroportMono.woff2") format("woff2"), url("../fonts/Aeroport/AeroportMono.woff") format("woff"), url("../fonts/Aeroport/AeroportMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport-Bold.eot");
  src: local("Aeroport Bold"), local("Aeroport-Bold"), url("../fonts/Aeroport/Aeroport-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport-Bold.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport-Bold.woff") format("woff"), url("../fonts/Aeroport/Aeroport-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport-LightItalic.eot");
  src: local("Aeroport Light Italic"), local("Aeroport-LightItalic"), url("../fonts/Aeroport/Aeroport-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport-LightItalic.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport-LightItalic.woff") format("woff"), url("../fonts/Aeroport/Aeroport-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport-BoldItalic.eot");
  src: local("Aeroport Bold Italic"), local("Aeroport-BoldItalic"), url("../fonts/Aeroport/Aeroport-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport-BoldItalic.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport-BoldItalic.woff") format("woff"), url("../fonts/Aeroport/Aeroport-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport-MediumItalic.eot");
  src: local("Aeroport Medium Italic"), local("Aeroport-MediumItalic"), url("../fonts/Aeroport/Aeroport-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport-MediumItalic.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport-MediumItalic.woff") format("woff"), url("../fonts/Aeroport/Aeroport-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport.eot");
  src: local("Aeroport"), url("../fonts/Aeroport/Aeroport.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport.woff") format("woff"), url("../fonts/Aeroport/Aeroport.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport-Italic.eot");
  src: local("Aeroport Italic"), local("Aeroport-Italic"), url("../fonts/Aeroport/Aeroport-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport-Italic.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport-Italic.woff") format("woff"), url("../fonts/Aeroport/Aeroport-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Aeroport';
  src: url("../fonts/Aeroport/Aeroport-Medium.eot");
  src: local("Aeroport Medium"), local("Aeroport-Medium"), url("../fonts/Aeroport/Aeroport-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Aeroport/Aeroport-Medium.woff2") format("woff2"), url("../fonts/Aeroport/Aeroport-Medium.woff") format("woff"), url("../fonts/Aeroport/Aeroport-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

.section_top {
  padding-top: 50px;
  padding-bottom: 50px; }
  .section_top .consult__cont {
    margin-top: 30px; }
  @media (min-width: 1200px) {
    .section_top {
      padding-top: 130px;
      padding-bottom: 130px; }
      .section_top .consult__cont {
        margin-top: 69px; } }
  @media (min-width: 1600px) {
    .section_top {
      padding-top: 146px;
      padding-bottom: 144px; } }

.top__cont {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative; }

.top__lang {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  color: #959595;
  font-size: 1.25rem;
  letter-spacing: -0.062rem;
  line-height: 1.234rem; }
  .top__lang a {
    color: #959595;
    text-decoration: none;
    margin-right: 27px; }
    .top__lang a:last-child {
      margin-right: 0; }
    .top__lang a:hover, .top__lang a:active, .top__lang a.active {
      color: #fff;
      text-decoration: none; }
  @media (min-width: 1200px) {
    .top__lang {
      font-size: 1.875rem;
      letter-spacing: -0.094rem;
      line-height: 1.851rem; }
      .top__lang a {
        margin-right: 36px; } }
  @media (min-width: 1600px) {
    .top__lang {
      top: -3px; } }

.top__img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  z-index: 1; }
  @media (min-width: 1360px) {
    .top__img {
      float: right;
      width: 45%; } }
  @media (min-width: 1600px) {
    .top__img {
      float: right;
      width: 45%; } }

.top__image {
  margin: 50px -15px 0 -15px; }
  .top__image video {
    max-width: 100%; }
  @media (min-width: 1200px) {
    .top__image {
      margin: 40px 4px 0 -62px; } }
  @media (min-width: 1360px) {
    .top__image {
      margin: 0 -15px 0 -245px; } }
  @media (min-width: 1600px) {
    .top__image {
      margin: 0 -15px 0 -245px; } }

.top__data {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  z-index: 2;
  float: left;
  padding-top: 48px; }
  @media (min-width: 1200px) {
    .top__data {
      padding-top: 119px; }
      .top__data .title {
        max-width: 820px; } }
  @media (min-width: 1360px) {
    .top__data {
      width: 55%;
      padding-top: 108px; }
      .top__data .title {
        max-width: none; } }
  @media (min-width: 1600px) {
    .top__data {
      width: 55%;
      padding-top: 108px;
      padding-right: 20px; }
      .top__data .title {
        max-width: none; } }

.top__links {
  display: inline-block;
  vertical-align: top;
  margin: 0 -15px 0 0;
  padding: 0;
  list-style: none; }
  .top__links li {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: 0 10px 10px; }
    .top__links li:first-child {
      margin-left: 0; }
    .top__links li:last-child {
      margin-right: 0; }
  @media (min-width: 1200px) {
    .top__links li {
      margin: 0 26px 20px; } }

.top__link {
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: 1.063rem;
  letter-spacing: -0.053rem;
  line-height: 46px;
  border-radius: 23px;
  text-decoration: none;
  text-align: center; }
  .top__link span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1; }
  .top__link.active {
    background-color: #fada97;
    color: black;
    font-size: 1.25rem;
    letter-spacing: -0.062rem;
    padding: 0 25px; }
  @media (min-width: 1200px) {
    .top__link {
      line-height: 83px;
      border-radius: 45px;
      padding-bottom: 6px;
      font-size: 1.875rem;
      letter-spacing: -0.094rem; }
      .top__link.active {
        font-size: 2.5rem;
        letter-spacing: -0.125rem;
        padding: 0 46px 6px; } }

.section_stat {
  padding-top: 50px;
  padding-bottom: 50px;
overflow: hidden; }
  .section_stat .title {
    max-width: 800px; 
  }
  @media (min-width: 1200px) {
    .section_stat {
 }
      .section_stat .title {
        margin-bottom: 75px;
        margin-right: -30px; }
        .section_stat .title img {
          margin-left: 3px;
          margin-top: -12px;
          margin-bottom: -5px; } }
  @media (min-width: 1600px) {
    .section_stat {
      
      padding-top: 81px;
      padding-bottom: 60px; }
      .section_stat .title {
        margin-right: 0; 
        max-width: 700px;
      } }

.stat__cont {
  margin-top: 45px; }
  @media (min-width: 1200px) {
    .stat__cont {
      margin-top: -6px; } }
  @media (min-width: 1600px) {
    .stat__cont {
      margin-top: 0; } }

.stat__stat {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 100%; }
  @media (min-width: 768px) {
    .stat__stat {
      width: 40%; } }
  @media (min-width: 1200px) {
    .stat__stat {
      padding-top: 20px;
      padding-right: 20px;
      width: 100%; } }
  @media (min-width: 1360px) {
    .stat__stat {
      width: 40%; } }
  @media (min-width: 1600px) {
    .stat__stat {
      width: 40%; } }

.stat__item {
  display: table;
  width: 100%;
  margin-bottom: 47px;
  max-width: 290px; }
  @media (min-width: 1200px) {
    .stat__item {
      max-width: 460px;
      margin-bottom: 64px; } }

.stat__icon {
  display: table-cell;
  vertical-align: middle;
  width: 70px; }
  .stat__icon img {
    max-width: 47px; }
  @media (min-width: 1200px) {
    .stat__icon {
      width: 106px;
      padding-right: 20px; }
      .stat__icon img {
        max-width: none; } }

.stat__data {
  display: table-cell;
  vertical-align: middle;
  color: #959595;
  font-size: 20px;
  letter-spacing: -0.069rem;
  line-height: 120%; }
  @media (min-width: 1200px) {
    .stat__data {
      font-size: 25px;
      letter-spacing: -0.125rem; 
    } }

.stat__values {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 100%;
  position: relative; }
  @media (min-width: 768px) {
    .stat__values {
      width: 60%;
      margin-top: 0; } }
  @media (min-width: 1200px) {
    .stat__values {
      margin-top: 54px;
      width: 100%; } }
  @media (min-width: 1360px) {
    .stat__values {
      width: 60%;
      margin-top: 0; } }
  @media (min-width: 1600px) {
    .stat__values {
      width: 60%;
      margin-top: 0; } }

.stat__left {
  display: inline-block;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 1200px) {
    .stat__left {
      width: 28%;
      float: left;
      position: absolute;
      width: 20%;
      top: 148px;
      left: 15px; } }
  @media (min-width: 1600px) {
    .stat__left {
      top: 99px;
      left: 15px; } }

.stat__right {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 65px; }
  @media (min-width: 1200px) {
    .stat__right {
      margin-top: 0;
      width: 75%;
      float: right; } }
  @media (min-width: 1360px) {
    .stat__right {
      width: 75%;
      float: right; } }
  @media (min-width: 1600px) {
    .stat__right {
      width: 75%;
      float: right; } }

.stat__list {
  margin: 37px 0 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .stat__list img {
    max-height: 25px;
    max-width: 70px; }
  .stat__list li {
    float: left;
    margin-right: 10px; }
    .stat__list li:last-child {
      margin-right: 0; }
  @media (max-width: 1199px) {
    .stat__list {
      display: table;
      width: 100%; }
      .stat__list li {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        float: none;
        padding: 0 5px; } }
  @media (min-width: 1200px) {
    .stat__list {
      margin: 0;
      text-align: left; }
      .stat__list li {
        float: none;
        width: 100%;
        margin-bottom: 33px; }
      .stat__list img {
        max-height: none;
        max-width: 70px; 
      } }

.graph__content {
  position: relative; }

.graph__pane {
  display: none; }
  .graph__pane.active {
    display: block;
    position: relative;
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px); }

.graph__list {
  margin: 0 -2px 0 -5px; }
  @media (min-width: 1200px) {
    .graph__list {
      margin: 0 32px 0 -81px; } }
  @media (min-width: 1360px) {
    .graph__list {
      margin: 0 0 0 -30px; } }
  @media (min-width: 1600px) {
    .graph__list {
      margin: 0 7px 0 -30px; } }

.graph__item {
  width: 25%;
  float: left;
  position: relative;
  height: 201px; }
  .graph__item:nth-child(2) .graph__value {
    -webkit-transition-delay: .25s;
            transition-delay: .25s; }
    .graph__item:nth-child(2) .graph__value span {
      -webkit-transition-delay: .25s;
              transition-delay: .25s; }
  .graph__item:nth-child(3) .graph__value {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }
    .graph__item:nth-child(3) .graph__value span {
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s; }
  .graph__item:nth-child(4) .graph__value {
    -webkit-transition-delay: .75s;
            transition-delay: .75s; }
    .graph__item:nth-child(4) .graph__value span {
      -webkit-transition-delay: .75s;
              transition-delay: .75s; }
  @media (min-width: 1200px) {
    .graph__item {
      height: 464px; } }
  @media (min-width: 1600px) {
    .graph__item {
      height: 416px; } }

.graph__value {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 0;
  background: #e9f282;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9f282), to(#ed696b));
  background: linear-gradient(to bottom, #e9f282 0%, #ed696b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f282', endColorstr='#ed696b',GradientType=0 );
  height: 100%;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out; }
  .graph__value:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.95)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); }
  .graph__value.graph__disabled {
    max-height: 0 !important;
    -webkit-transition-delay: none !important;
            transition-delay: none !important; }
    .graph__value.graph__disabled span {
      opacity: 0;
      -webkit-transition: 0;
      transition: 0; }
  .graph__value span {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 8px;
    -webkit-transition: .2s;
    transition: .2s;
    opacity: 1;
    color: #b2b2b2;
    font-size: 0.938rem;
    letter-spacing: -0.047rem;
    line-height: 1.125rem; }
  @media (min-width: 1200px) {
    .graph__value {
      left: 10px;
      right: 10px; }
      .graph__value span {
        font-size: 1.875rem;
        letter-spacing: -0.094rem;
        line-height: 2.25rem;
        margin-bottom: 26px; } }
  @media (min-width: 1600px) {
    .graph__value span {
      margin-bottom: 20px; } }

.graph__blue {
  background: #82bcf2;
  background: -webkit-gradient(linear, left top, left bottom, from(#82bcf2), to(#b369ed));
  background: linear-gradient(to bottom, #82bcf2 0%, #b369ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82bcf2', endColorstr='#b369ed',GradientType=0 ); }

.graph__red {
  background: #f28282;
  background: -webkit-gradient(linear, left top, left bottom, from(#f28282), to(#ed7969));
  background: linear-gradient(to bottom, #f28282 0%, #ed7969 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28282', endColorstr='#ed7969',GradientType=0 ); }

.graph__info {
  color: #959595;
  font-size: 1.125rem;
  letter-spacing: -0.056rem;
  line-height: 1.35rem;
  text-align: center;
  margin-top: 20px; }
  @media (min-width: 1200px) {
    .graph__info {
      display: none;
      font-size: 1.875rem;
      line-height: 2.25rem; } }

.graph__tabs {
  margin: 38px 5px 0;
  padding: 0; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
  .graph__tabs li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0 5px 15px; 
  }
  @media (min-width: 1200px) {
    .graph__tabs {
     
    }
      .graph__tabs li {
        margin: 0 5px 14px; } }
  @media (min-width: 1360px) {
    .graph__tabs {
      
    } }
  @media (min-width: 1600px) {
    .graph__tabs {
      
    } }

.graph__tab {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  border: none;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #1c1c1c;
  color: #959595;
  text-decoration: none !important;
  font-size: 11px;
  letter-spacing: -0.044rem; }
  .graph__tab.active {
    background: #fff;
    color: #000; }
  .graph__tab span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1; }
  @media (min-width: 1200px) {
    .graph__tab {
      font-size: 11px;
      letter-spacing: 0rem;
      line-height: 1.5rem;
      line-height: 42px;
      border-radius: 26px;
      padding: 0 15px; } }

.section_opt {
  padding-top: 35px;
  padding-bottom: 50px; }
  .section_opt .container {
    padding: 0 20px; }
  @media (min-width: 1200px) {
    .section_opt {
 }
      .section_opt .container {
        padding: 0 15px; } }
  @media (min-width: 1600px) {
    .section_opt {
 } }

.opt__data {
  /*@include media(1600px) {
		width: 54%;
		float: left;
		padding-right: 30px;
		.title{
			max-width: none;
			img{
				margin-bottom: -13px;
				top: -6px;
			}
		}
	}*/ }
  .opt__data .title {
    max-width: 300px;
    margin-bottom: 40px; }
    .opt__data .title img {
      top: -6px;
      margin-bottom: -7px; }
  @media (min-width: 1200px) {
    .opt__data .title {
      max-width: 800px;
      margin-bottom: 46px; } }
  @media (min-width: 1360px) {
    .opt__data {
      width: 54%;
      float: left;
      padding-right: 30px; }
      .opt__data .title {
        max-width: none; }
        .opt__data .title img {
          margin-bottom: -13px;
          top: -6px; } }

.opt__img {
  margin-top: 18px; }
  @media (min-width: 1200px) {
    .opt__img {
      margin-top: 0; } }
  @media (min-width: 1360px) {
    .opt__img {
      width: 40%;
      float: right; } }

.opt__image video {
  max-width: 100%; }

@media (min-width: 1200px) {
  .opt__image {
    margin: 119px 0 0; } }

@media (min-width: 1600px) {
  .opt__image {
    margin: 67px 0 0 0; 
  } }

.opt__text {
  color: #959595;
  font-size: 30px;
  letter-spacing: -0.069rem;
  line-height: 120%; 
  max-width: 500px;
}
  @media (min-width: 1200px) {
    .opt__text {
      font-size: 25px;
      letter-spacing: -0.125rem;
      max-width: 500px; 
    } }
  @media (min-width: 1600px) {
    .opt__text {
    } }

.opt__row {
  margin-top: 59px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
  @media (min-width: 1200px) {
    .opt__row {
      margin-top: 70px;
      max-width: 950px; } }
  @media (min-width: 1360px) {
    .opt__row {

      max-width: none; } }

.opt__outer {
  padding: 0 20px;
  float: left;
  margin-bottom: 44px; }
  @media (min-width: 1200px) {
    .opt__outer {
      width: 50%;
      margin-bottom: 30px; } }

.opt__item {
  display: table;
  width: 100%;
  max-width: 260px; }
  @media (min-width: 1200px) {
    .opt__item {
      max-width: none; } }

.opt__icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding-right: 20px; 

  
}

  @media (min-width: 1200px) {
    .opt__icon {
      width: 60px;
      padding-right: 20px; } }

.opt__text {
  display: table-cell;
  vertical-align: middle;
  color: #959595;
  font-size: 18px;
  letter-spacing: -0.069rem;
  line-height: 120%; }
  .opt__text strong {
    font-weight: 400;
    color: #fff; }
  @media (min-width: 1200px) {
    .opt__text {
      font-size: 20px;
      letter-spacing: -0.125rem;
      line-height: 120%;
    } }

.section_start {
  padding-top: 59px;
  padding-bottom: 50px;
  position: relative; }
  @media (min-width: 1200px) {
    .section_start {
 
    }
      .section_start .consult__cont {
        margin-top: 22px; } }
  @media (min-width: 1600px) {
    .section_start {

    }
      .section_start .consult__cont {
        margin-top: 0; } }
  @media (min-width: 1650px) {
    .section_start .container {
      width: 1615px; } }

.start__anim {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden; }
  .start__anim:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 196px;
    height: 265px;
    background: url("../img/start-anim.png") center no-repeat;
    background-size: contain;
    -webkit-transition: 4.2s;
    transition: 4.2s;
    left: -196px;
    bottom: -265px; }
  .start__anim.active:before {
    left: 120%;
    bottom: 80%; }
  @media (min-width: 1200px) {
    .start__anim:before {
      left: -581px;
      bottom: -784px;
      width: 581px;
      height: 784px; } }
  @media (min-width: 1600px) {
    .start__anim:before {
      left: -413px;
      bottom: -557px;
      width: 413px;
      height: 557px; } }

.start__data .title {
  margin-bottom: 40px; }

@media (min-width: 1200px) {
  .start__data .title {
    margin-bottom: 72px; } }

@media (min-width: 1360px) {
  .start__data {
    width: 50%;
    float: left; } }

@media (min-width: 1600px) {
  .start__data {
    width: 50%;
    float: left; }
    .start__data .title {
      margin-bottom: 76px; }
      .start__data .title img {
        margin-left: 2px;
        margin-top: -8px; } }

@media (min-width: 1360px) {
  .start__img {
    width: 50%;
    float: right; 
    z-index: -1;
    position: relative;
  } }

.start__image {

}
  @media (min-width: 1200px) {
    .start__image {

    } }
  @media (min-width: 1600px) {
    .start__image {
      text-align: center;

    } }

.start__text {
  color: #959595;
  font-size: 20px;
  letter-spacing: -0.069rem;
  line-height: 120%;
  max-width: 715px;
  margin-bottom: 21px; }
  .start__text p {
    margin: 0 0 45px;

   }
  .start__text strong {
    font-weight: 400;
    color: #fff; }
  @media (min-width: 1200px) {
    .start__text {
      font-size: 25px;
      letter-spacing: -0.125rem;
      line-height: 120%; 
    }
      .start__text p {
        margin-bottom: 57px;
        } }
  @media (min-width: 1600px) {
    .start__text {
      margin-bottom: 78px; } }

.section_plus {
  padding-top: 49px;
 }
  .section_plus .container {
    padding: 0 25px; }
  @media (min-width: 1200px) {
    .section_plus {
      padding-top: 97px;
 } }
  @media (min-width: 1600px) {
    .section_plus {
      min-height: 1080px;
      padding: 50px 0; } }

.plus__cont {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
  @media (min-width: 1360px) {
    .plus__cont {
      margin: 0 -22px; } }
  @media (min-width: 1600px) {
    .plus__cont {
      margin: 0 -6px 0 -22px; } }
.opt__cont  {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.start__cont {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .start__data, .opt__data {
    width: 50%;

  }
  .start__img, .opt__img {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .start__data, .opt__data {
    width: 100%;

  }
  .start__img, .opt__img {
    width: 100%;
  }
}
.plus__outer {
  margin-bottom: 50px;
  float: left;
  text-align: center;
  width: 100%; 
}
  @media (min-width: 1200px) {
    .plus__outer {
      width: 50%; } }
  @media (min-width: 1360px) {
    .plus__outer {
      margin-bottom: 30px;
      padding: 0 22px;
      width: 33.3333%; } }
  @media (min-width: 1600px) {
    .plus__outer {
      margin-bottom: 44px;
      padding: 0 22px;
      width: 33.3333%; } }

.plus__item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border-radius: 1.875rem;
  border: 0.125rem solid #393939;
  text-align: left;
  max-width: 280px;
  padding: 28px 24px; 
}
  @media (min-width: 1200px) {
    .plus__item {
      max-width: 477px;
      padding: 49px 38px; } }
  @media (min-width: 1360px) {
    .plus__item {
      padding: 48px 35px; } }
  @media (min-width: 1600px) {
    .plus__item {
      padding: 50px 40px; } }

.plus__name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.078rem;
  line-height: 120%;
  margin-bottom: 50px; 
  min-height: auto !important;
}
  @media (min-width: 1200px) {
    .plus__name {
      font-size: 30px;
      letter-spacing: -0.125rem;
      line-height: 120%;
      margin-bottom: 50px; } }
  @media (min-width: 1360px) {
    .plus__name {
      font-size: 30px;
      line-height: 120%; } }
  @media (min-width: 1600px) {
    .plus__name {
      font-size: 30px;
      line-height: 120%; } }

.plus__icon {
  line-height: 40px; }
  .plus__icon img {
    display: inline-block;
    vertical-align: middle;
    max-height: 40px; }
  @media (min-width: 1200px) {
    .plus__icon {
      line-height: 65px; }
      .plus__icon img {
        max-height: 65px; } }

.plus__text {
  color: #959595;
  font-size: 18px;
  letter-spacing: -0.053rem;
  line-height: 120%;
  font-weight: 500;
  margin-top: 27px;
  margin-right: -10px; }
  .plus__text p {
    margin: 0 0 22px; }
    .plus__text p:last-child {
      margin-bottom: 0; }
  @media (min-width: 1200px) {
    .plus__text {
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.087rem;
      margin-top: 36px;
      margin-right: 0; } }
  @media (min-width: 1360px) {
    .plus__text {
      font-size: 18px;
      line-height: 120%;
      margin-top: 25px; } }
  @media (min-width: 1600px) {
    .plus__text {
      font-size: 18px;
      line-height: 120%;
      margin-top: 36px; } }

.section_slide {
  padding-bottom: 11px;
  min-height: 100vh;
  position: relative; }
  @media (min-width: 1200px) {
    .section_slide {
      padding-top: 52px; } }

.slide__outer {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 43px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  will-change: opacity,transform;
  font-size: 7.2rem;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top; }
  .slide__outer:nth-child(2) {
    top: 15px; }
  .slide__outer:nth-child(3) {
    top: 30px; }
  .slide__outer:nth-child(4) {
    top: 45px; }
  .slide__outer:nth-child(5) {
    top: 60px; }

.slide__item {
  color: black;
  border-radius: 1.25rem;
  background-color: #f2df9a;
  width: 100%;
  max-height: 90vh;
  padding: 19px 16px 30px;
  height: -webkit-calc(100vh - 50px);
  height: calc(100vh - 50px); }
  @media (min-width: 1200px) {
    .slide__item {
      border-radius: 3.125rem;
      padding: 70px 50px; } }
  @media (min-width: 1600px) {
    .slide__item {
      padding: 70px 70px 49px;
      min-height: 807px; } }

.slide__green {
  background-color: #c1f29a; }
  .slide__green .slide__text {
    max-width: 1025px; }
  .slide__green span {
    color: #97c870; }
  .slide__green ul li:before {
    background-color: #97c870; }

.slide__blue {
  background-color: #9abef2; }
  .slide__blue .slide__text {
    max-width: 1050px; }
  .slide__blue span {
    color: #6a95d1; }
  .slide__blue ul li:before {
    background-color: #6a95d1; }

.slide__mentol {
  background-color: #9af2f2; }
  .slide__mentol .slide__text {
    max-width: 1050px; }
  .slide__mentol span {
    color: #43a8a8; }
  .slide__mentol ul li:before {
    background-color: #43a8a8; }

.slide__purple {
  background-color: #c19af2; }
  .slide__purple .slide__text {
    max-width: 1050px; }
  .slide__purple span {
    color: #6a95d1; }
  .slide__purple ul li:before {
    background-color: #6a95d1; }

.slide__title {
  font-size: 1.125rem;
  letter-spacing: -0.078rem;
  line-height: 1.125rem;
  font-weight: 500;
  margin-bottom: 10px;
  /*@include media(1200px) {
		font-size: 5rem;
		letter-spacing: -0.25rem;
		line-height: 4.9rem;
		margin-bottom: 60px;

		img{
			margin-left: 14px;
			top: -6px;
			max-height: 75px;
		}
	}*/
  /*
	@include hmedia(550px) {
		font-size: 1.25rem;
		letter-spacing: -0.078rem;
		line-height: 1.25rem;
		margin-bottom: 17px;
	}
	@include hmedia(650px) {
		font-size: 2.5rem;
		letter-spacing: -0.25rem;
		line-height: 2.5rem;
		margin-bottom: 30px;

		img{
			margin-left: 10px;
			top: -4px;
			max-height: 50px;
		}
	}
	@include hmedia(950px) {
		font-size: 3.5rem;
		letter-spacing: -0.25rem;
		line-height: 3.5rem;
		margin-bottom: 40px;

		img{
			margin-left: 10px;
			top: -6px;
			max-height: 60px;
		}
	}
	@include hmedia(1080px) {
		font-size: 5rem;
		letter-spacing: -0.25rem;
		line-height: 4.9rem;
		margin-bottom: 60px;

		img{
			margin-left: 14px;
			top: -6px;
			max-height: 75px;
		}
	}*/ }
  .slide__title img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-height: 20px; }

@media (min-width: 768px) and (min-height: 550px) {
  .slide__title {
    font-size: 1.25rem;
    letter-spacing: -0.078rem;
    line-height: 1.25rem;
    margin-bottom: 17px; } }

@media (min-width: 768px) and (min-height: 650px) {
  .slide__title {
    font-size: 2.5rem;
    letter-spacing: -0.25rem;
    line-height: 2.5rem;
    margin-bottom: 30px; }
    .slide__title img {
      margin-left: 10px;
      top: -4px;
      max-height: 50px; } }

@media (min-width: 992px) and (min-height: 950px) {
  .slide__title {
    font-size: 3.5rem;
    letter-spacing: -0.25rem;
    line-height: 3.5rem;
    margin-bottom: 40px; }
    .slide__title img {
      margin-left: 10px;
      top: -6px;
      max-height: 60px; } }

@media (min-width: 1360px) and (min-height: 1080px) {
  .slide__title {
    font-size: 5rem;
    letter-spacing: -0.25rem;
    line-height: 4.9rem;
    margin-bottom: 60px; }
    .slide__title img {
      margin-left: 14px;
      top: -6px;
      max-height: 75px; } }

.slide__text {
  font-size: 0.875rem;
  line-height: 1rem;
  /*@include media(1200px) {
		font-size: 2.5rem;
		letter-spacing: -0.125rem;
		line-height: 3.25rem;
		p{
			margin-bottom: 52px;
		}
		span{
			margin-right: 14px;
		}
		ol{
			li{
				margin-bottom: 52px;
				&:before{
					border: 2px solid #000;
					line-height: 23px;
					width: 21px;
					margin-left: 3px;
					top: -4px;
					font-size: 1.375rem;
					margin-right: 15px;
				}
			}
		}
		ul{
			li{
				margin-bottom: 52px;
				&:before{
					width: 30px;
					height: 30px;
					margin-right: 20px;
					top: -3px;
				}
			}
		}

	}*/
  /*@include hmedia(550px) {
		font-size: 1rem;
		letter-spacing: -0.056rem;
		line-height: 1.125rem;
		p{
			margin-bottom: 26px;
		}
		ol{
			li{
				margin-bottom: 23px;
			}
		}
		ul{
			li{
				margin-bottom: 22px;
				&:before{
					width: 20px;
					height: 20px;
					top: 0;
				}
			}
		}
	}*/
  /*	@include hmedia(650px) {
		font-size: 1.5rem;
		line-height: 2rem;
		p{
			margin-bottom: 25px;
		}
		span{
			margin-right: 10px;
		}
		ol{
			li{
				margin-bottom: 30px;
				&:before{
					border: 2px solid #000;
					line-height: 23px;
					width: 21px;
					margin-left: 3px;
					top: -4px;
					font-size: 1.375rem;
					margin-right: 15px;
				}
			}
		}
		ul{
			li{
				margin-bottom: 30px;
				&:before{
					width: 30px;
					height: 30px;
					margin-right: 15px;
					top: -3px;
				}
			}
		}
	}
	@include hmedia(950px) {
		font-size: 1.875rem;
		letter-spacing: -0.125rem;
		line-height: 2.25rem;
		p{
			margin-bottom: 40px;
		}
		span{
			margin-right: 14px;
		}
		ol{
			li{
				margin-bottom: 30px;
				&:before{
					border: 2px solid #000;
					line-height: 23px;
					width: 21px;
					margin-left: 3px;
					top: -4px;
					font-size: 1.375rem;
					margin-right: 15px;
				}
			}
		}
		ul{
			li{
				margin-bottom: 30px;
				&:before{
					width: 30px;
					height: 30px;
					margin-right: 20px;
					top: -3px;
				}
			}
		}
	}
	@include hmedia(1080px) {
		font-size: 2.5rem;
		letter-spacing: -0.125rem;
		line-height: 3.25rem;
		p{
			margin-bottom: 52px;
		}
		span{
			margin-right: 14px;
		}
		ol{
			li{
				margin-bottom: 52px;
				&:before{
					border: 2px solid #000;
					line-height: 23px;
					width: 21px;
					margin-left: 3px;
					top: -4px;
					font-size: 1.375rem;
					margin-right: 15px;
				}
			}
		}
		ul{
			li{
				margin-bottom: 52px;
				&:before{
					width: 30px;
					height: 30px;
					margin-right: 20px;
					top: -3px;
				}
			}
		}
	}

	@include media(1600px) {

		ul{
			li{
				&:before{
					width: 41px;
					height: 41px;
					margin-right: 9px;
					top: -2px;
				}
			}
		}
	}*/ }
  .slide__text p {
    margin: 0 0 15px; }
    .slide__text p:last-child {
      margin-bottom: 0; }
  .slide__text ol {
    margin: 0;
    padding: 0;
    counter-reset: myCounter; }
    .slide__text ol li {
      list-style: none;
      margin-bottom: 15px; }
      .slide__text ol li:last-child {
        margin-bottom: 0; }
      .slide__text ol li:before {
        counter-increment: myCounter;
        content: counter(myCounter);
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        position: relative;
        top: -4px;
        font-weight: 500;
        text-align: center;
        padding-right: 2px;
        border: 1px solid #000;
        line-height: 11px;
        width: 9px;
        margin-left: 1px;
        top: -1px;
        font-size: 0.6rem;
        margin-right: 6px; }
  .slide__text ul {
    margin: 0;
    padding: 0; }
    .slide__text ul li {
      list-style: none;
      margin-bottom: 15px; }
      .slide__text ul li:last-child {
        margin-bottom: 0; }
      .slide__text ul li:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #cfbf88;
        margin-right: 3px;
        top: -2px; }

@media (min-width: 768px) and (min-height: 550px) {
  .slide__text {
    font-size: 1rem;
    letter-spacing: -0.056rem;
    line-height: 1.125rem; }
    .slide__text p {
      margin-bottom: 26px; }
    .slide__text ol li {
      margin-bottom: 23px; }
    .slide__text ul li {
      margin-bottom: 22px; }
      .slide__text ul li:before {
        width: 20px;
        height: 20px;
        top: 0; } }

@media (min-width: 768px) and (min-height: 650px) {
  .slide__text {
    font-size: 1.25rem;
    letter-spacing: -0.056rem;
    line-height: 1.375rem; } }

@media (min-width: 768px) and (min-height: 750px) {
  .slide__text {
    font-size: 1.375rem;
    letter-spacing: -0.056rem;
    line-height: 1.5rem; } }

@media (min-width: 992px) and (min-height: 950px) {
  .slide__text {
    font-size: 1.875rem;
    letter-spacing: -0.125rem;
    line-height: 2.25rem; }
    .slide__text p {
      margin-bottom: 40px; }
    .slide__text span {
      margin-right: 14px; }
    .slide__text ol li {
      margin-bottom: 30px; }
      .slide__text ol li:before {
        border: 2px solid #000;
        line-height: 23px;
        width: 21px;
        margin-left: 3px;
        top: -4px;
        font-size: 1.375rem;
        margin-right: 15px; }
    .slide__text ul li {
      margin-bottom: 30px; }
      .slide__text ul li:before {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        top: -3px; } }

@media (min-width: 1360px) and (min-height: 1080px) {
  .slide__text {
    font-size: 2.5rem;
    letter-spacing: -0.125rem;
    line-height: 3.25rem; }
    .slide__text p {
      margin-bottom: 52px; }
    .slide__text span {
      margin-right: 14px; }
    .slide__text ol li {
      margin-bottom: 52px; }
      .slide__text ol li:before {
        border: 2px solid #000;
        line-height: 23px;
        width: 21px;
        margin-left: 3px;
        top: -4px;
        font-size: 1.375rem;
        margin-right: 15px; }
    .slide__text ul li {
      margin-bottom: 52px; }
      .slide__text ul li:before {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        top: -3px; } }

@media (min-width: 1600px) and (min-height: 1080px) {
  .slide__text ul li:before {
    width: 41px;
    height: 41px;
    margin-right: 9px;
    top: -2px; } }

.slide__pay {
  margin-top: 24px; }
  @media (min-width: 1200px) {
    .slide__pay {
      margin-top: 40px; } }
  @media (min-width: 1600px) {
    .slide__pay {
      margin: 46px 0 -10px 54px; } }

.section_contact {
  padding-top: 6px; }
  @media (min-width: 1200px) {
    .section_contact {
      padding-top: 50px; } }
  @media (min-width: 1600px) {
    .section_contact {
      min-height: 1080px; }
      .section_contact .container {
        width: 1393px; } }

.contact__cont {
  border-radius: 1.25rem;
  background-color: #242029;
  text-align: center;
  padding: 36px 20px 27px; }
  .contact__cont .title {
    font-size: 1.25rem;
    letter-spacing: -0.062rem;
    line-height: 1.25rem;
    margin-bottom: 37px; }
  .contact__cont .consult__list li {
    float: none; }
  .contact__cont .consult__list img {
    width: 45px;
    height: 45px; }
  @media (min-width: 992px) {
    .contact__cont {
      padding: 60px; }
      .contact__cont .title {
        font-size: 3.5rem;
        line-height: 4rem;
        letter-spacing: -0.25rem; } }
  @media (min-width: 1200px) {
    .contact__cont {
      border-radius: 3.125rem;
      padding: 100px 133px 102px; }
      .contact__cont .title {
        font-size: 5rem;
        line-height: 6.0625rem;
        letter-spacing: -0.25rem; }
      .contact__cont .consult__cont {
        margin-top: 85px; }
        .contact__cont .consult__cont li {
          margin: 0 55px; }
        .contact__cont .consult__cont img {
          width: 100px;
          height: 100px; } }
  @media (min-width: 1360px) {
    .contact__cont .title {
      font-size: 4rem;
      line-height: 4.25rem;
      letter-spacing: -0.25rem; } }
  @media (min-width: 1600px) {
    .contact__cont {
      padding: 100px 100px 164px; }
      .contact__cont .title {
        font-size: 5rem;
        line-height: 6.0625rem;
        letter-spacing: -0.25rem; }
      .contact__cont .consult__cont {
        margin-top: 118px; }
        .contact__cont .consult__cont li {
          margin: 0 55px; }
        .contact__cont .consult__cont img {
          width: 132px;
          height: 132px; } }

.contact__copy {
  color: #959595;
  font-size: 16px;
  letter-spacing: -0.053rem;
  line-height: 130%;
  font-weight: 500;
  text-align: center;
  margin: 41px auto 30px;
  max-width: 1050px; }
  @media (min-width: 1200px) {
    .contact__copy {
      font-size: 25px;
      letter-spacing: -0.094rem;
      line-height: 120%;
      margin: 30px auto 100px; 
    } }
  @media (min-width: 1600px) {
    .contact__copy {
      margin-top: 29px;
      margin-bottom: 29px; } }
