@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Aeroport";
  transition: 0.3s;
  list-style: none;
  outline: none;
}

body {
  background: #000000;
}

a {
  color: #000;
  text-decoration: none;
}

.btn {
  width: 100%;
  max-width: 207px;
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  font-family: Aeroport;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 80px;
}
.btn.btn-orange {
  background: #FADA97;
}
.btn.btn-border {
  max-width: 166px;
  min-height: 52px;
  font-size: 13px;
  background: #FADA97;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.section-article {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  margin-top: 130px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
}
.section-article.bg-off::after, .section-article ::before {
  display: none;
}
.section-article.bg-off {
  min-height: 100%;
  padding-bottom: 0 !important;
}
.section-article .container {
  width: 100%;
  position: relative;
}
.section-article .container .box-top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.section-article .container .box-top::before {
  content: "";
  width: 921px;
  height: 921px;
  position: absolute;
  left: 100px;
  bottom: 0;
  z-index: -1;
  background: url("../img/article/Vector.png") left bottom no-repeat;
  background-size: contain;
}
.section-article .container .box-top .text {
  width: 100%;
  max-width: 636px;
  padding: 70px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  position: relative;
}
.section-article .container .box-top .text::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
}
.section-article .container .box-top .text .date {
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-article .container .box-top .text .date .date-update {
  color: #959595;
  font-weight: 600;
  font-size: 30.6667px;
  line-height: 33px;
  /* identical to box height */
}
.section-article .container .box-top .text .date .date-moment {
  color: #959595;
  font-weight: 600;
  font-size: 23.6667px;
  line-height: 33px;
  /* identical to box height */
}
.section-article .container .box-top .text span {
  margin-bottom: 24px;
  display: block;
  font-weight: 600;
  font-size: 33.3333px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
}
.section-article .container .box-top .text p {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 17.3333px;
  line-height: 150%;
  text-transform: capitalize;
  color: #5F5F5F;
}
.section-article .container .box-top .text .btn-border-gradient {
  margin-bottom: 90px;
}
.section-article .container .box-top .text .type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.section-article .container .box-top .text .type a {
  margin-right: 26px;
  font-weight: 500;
  font-size: 17.3333px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  padding: 9px 22px;
  color: #959595;
  background: #1C1C1C;
  border-radius: 50px;
  margin-bottom: 10px;
}
.section-article .container .box-top .text .social {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 170px;
}
.section-article .container .box-top .text .social a {
  margin-right: 36px;
  width: 26px;
  filter: invert(0.2);
}
.section-article .container .box-top .text .social a img {
  width: 100%;
}
.section-article .container .box-top .img {
  width: 100%;
  max-width: 975px;
}
.section-article .container .box-top .img img {
  min-height: 652px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-article .container .filters-boxs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.section-article .container .filters-boxs .left {
  width: 100%;
  min-width: 635px;
  max-width: 635px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.section-article .container .filters-boxs .left.mt-550 {
  margin-top: 550px;
}
.section-article .container .filters-boxs .left.left-invert {
  position: relative;
  right: -317px;
}
.section-article .container .filters-boxs .left.left-invert .post-block::before {
  content: "";
  width: 1.3px;
  height: 90%;
  position: absolute;
  left: -1px;
  top: 0;
  background: #EEEEEE;
}
.section-article .container .filters-boxs .left.left-invert .post-block .date {
  right: unset;
  left: -159px;
}
.section-article .container .filters-boxs .left .list {
  margin: 60px 0;
}
.section-article .container .filters-boxs .left .list .list-group {
  width: 100%;
  margin-bottom: 35px;
}
.section-article .container .filters-boxs .left .list .list-group span {
  margin-bottom: 20px;
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a a {
  font-weight: normal;
  font-size: 14.9214px;
  line-height: 18px;
  padding: 10px 22px;
  color: #959595;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
  margin-right: 26px;
  position: relative;
  margin-bottom: 26px;
  border-radius: 50px;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a a.active {
  background: #FFFFFF;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang {
  cursor: pointer;
  width: 100%;
  max-width: 156px;
  position: relative;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-top {
  border-radius: 20px 20px 0 0;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-top img {
  transform: rotate(-180deg);
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-drop {
  display: flex;
  height: unset;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
  border-radius: 50px;
  max-height: 40px;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top span {
  margin-right: 10px;
  color: #959595;
  font-family: Aeroport;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top img {
  transform: rotate(180deg);
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop {
  width: 100%;
  background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
  border-radius: 10px;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 70%;
  padding: 15px;
  padding-left: 20px;
  height: 100%;
  max-height: 110px;
  display: none;
  height: 0;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap {
  width: 93.5%;
  overflow: auto;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap a {
  margin-bottom: 20px;
  background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
  color: #959595;
  font-family: Aeroport;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  font-size: 13px;
  line-height: 98.7%;
  /* identical to box height, or 30px */
  display: block;
  letter-spacing: -0.05em;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap a:last-child {
  margin-bottom: 0;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-scrollbar-track {
  background-color: #32312e;
  box-shadow: 0px 0px 3px #000 inset;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #959595;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
.section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-scrollbar {
  width: 4px;
}
.section-article .container .filters-boxs .left .post-block {
  width: 100%;
  position: relative;
  margin-bottom: 175px;
}
.section-article .container .filters-boxs .left .post-block:hover .img .btn-black {
  opacity: 1;
}
.section-article .container .filters-boxs .left .post-block::before {
  content: "";
  width: 1.3px;
  height: 90%;
  position: absolute;
  right: -1px;
  top: 0;
  background: #EEEEEE;
}
.section-article .container .filters-boxs .left .post-block .date {
  position: absolute;
  right: -159px;
  top: 0;
  z-index: 5;
  width: 100%;
  max-width: 159px;
  height: 100%;
  max-height: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1.33333px solid #333333;
}
.section-article .container .filters-boxs .left .post-block .date span {
  font-weight: 500;
  font-size: 26.6667px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}
.section-article .container .filters-boxs .left .post-block .date p {
  font-weight: normal;
  font-size: 13.3333px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #959595;
}
.section-article .container .filters-boxs .left .post-block .img {
  width: 100%;
  max-width: 635px;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-article .container .filters-boxs .left .post-block .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  pointer-events: none;
  background: linear-gradient(124.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  opacity: 0.4;
  background-size: cover;
}
.section-article .container .filters-boxs .left .post-block .img .img-block {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.section-article .container .filters-boxs .left .post-block .img .btn-black {
  position: relative;
  z-index: 3;
  font-size: 14px;
  line-height: 22px;
  opacity: 0;
  padding: 10px 15px;
  border-radius: 50px;
  background: #FADA97;
}
.section-article .container .filters-boxs .left .post-block .text {
  width: 100%;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
  padding: 37px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.section-article .container .filters-boxs .left .post-block .text span {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 21.3333px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
}
.section-article .container .filters-boxs .left .post-block .text p {
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  text-transform: capitalize;
  /* Grey Text */
  color: #959595;
}
.section-article .container .filters-boxs .left .post-block .text .type {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-article .container .filters-boxs .left .post-block .text .type a {
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  padding: 6px 18px;
  color: #959595;
  background: #1C1C1C;
  border-radius: 50px;
}
.section-article .container .filters-boxs .line-date {
  width: 100%;
  max-width: 317px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  left: 635px;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
  padding-top: 75px;
  padding-bottom: 75px;
}
.section-article .container .filters-boxs .line-date img {
  margin-bottom: 77px;
}
.section-article .container .filters-boxs .line-date::after {
  content: "";
  height: calc(100% - 330px) !important;
  position: relative !important;
  top: 0px;
  background: #333333;
  border: 1px solid #333333;
}
.section-article .container .filters-boxs .line-date .img-dwn {
  position: absolute;
  bottom: 0;
}
.section-article .container .filters-boxs .line-date .btn-border {
  position: absolute;
  bottom: 80px;
  z-index: 3;
}
.section-article .container .filters-boxs-m {
  width: 100%;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
}
.section-article .container .filters-boxs-m .left {
  width: 100%;
  max-width: 635px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.section-article .container .filters-boxs-m .left.mt-550 {
  margin-top: 550px;
}
.section-article .container .filters-boxs-m .left.left-invert .post-block::before {
  content: "";
  width: 1.3px;
  height: 90%;
  position: absolute;
  left: -1px;
  top: 0;
  background: #EEEEEE;
}
.section-article .container .filters-boxs-m .left.left-invert .post-block .date {
  right: unset;
  left: -159px;
}
.section-article .container .filters-boxs-m .left .list {
  margin: 60px 0;
}
.section-article .container .filters-boxs-m .left .list .list-group {
  width: 100%;
  margin-bottom: 35px;
}
.section-article .container .filters-boxs-m .left .list .list-group span {
  margin-bottom: 20px;
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #5F5F5F;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a a {
  font-weight: normal;
  font-size: 14.9214px;
  line-height: 18px;
  padding: 10px 22px;
  color: #000000;
  margin-right: 26px;
  position: relative;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a a.active {
  background: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  border-image: linear-gradient(94.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  border-image-slice: 1;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang {
  cursor: pointer;
  width: 100%;
  max-width: 156px;
  position: relative;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-top {
  border-radius: 20px 20px 0 0;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-top img {
  transform: rotate(-180deg);
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-drop {
  display: flex;
  height: unset;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
  border-radius: 50px;
  max-height: 40px;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top span {
  margin-right: 10px;
  color: #959595;
  font-family: Aeroport;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.05em;
  margin-bottom: 0;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top img {
  transform: rotate(180deg);
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop {
  width: 100%;
  background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
  border-radius: 10px;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 70%;
  padding: 15px;
  padding-left: 20px;
  height: 100%;
  max-height: 110px;
  display: none;
  height: 0;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap {
  width: 93.5%;
  overflow: auto;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap a {
  margin-bottom: 20px;
  background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
  color: #959595;
  font-family: Aeroport;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  font-size: 13px;
  line-height: 98.7%;
  /* identical to box height, or 30px */
  display: block;
  letter-spacing: -0.05em;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap a:last-child {
  margin-bottom: 0;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-scrollbar-track {
  background-color: #32312e;
  box-shadow: 0px 0px 3px #000 inset;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #959595;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
.section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop ::-webkit-scrollbar {
  width: 4px;
}
.section-article .container .filters-boxs-m .left .post-block {
  width: 100%;
  position: relative;
  margin-bottom: 175px;
}
.section-article .container .filters-boxs-m .left .post-block:hover .img .btn-black {
  opacity: 1;
}
.section-article .container .filters-boxs-m .left .post-block::before {
  content: "";
  width: 1.3px;
  height: 90%;
  position: absolute;
  right: -1px;
  top: 0;
  background: #EEEEEE;
}
.section-article .container .filters-boxs-m .left .post-block .date {
  position: absolute;
  right: -159px;
  top: 0;
  z-index: 5;
  width: 100%;
  max-width: 159px;
  height: 100%;
  max-height: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1.33333px solid #EEEEEE;
}
.section-article .container .filters-boxs-m .left .post-block .date span {
  font-weight: 500;
  font-size: 26.6667px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.section-article .container .filters-boxs-m .left .post-block .date p {
  font-weight: normal;
  font-size: 13.3333px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #C5C5C5;
}
.section-article .container .filters-boxs-m .left .post-block .img {
  width: 100%;
  max-width: 635px;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-article .container .filters-boxs-m .left .post-block .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  pointer-events: none;
  background: linear-gradient(124.27deg, #BE1240 0%, #801A9A 51.29%, #3E22F8 100%);
  opacity: 0.4;
  background-size: cover;
}
.section-article .container .filters-boxs-m .left .post-block .img .img-block {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.section-article .container .filters-boxs-m .left .post-block .img .btn-black {
  position: relative;
  z-index: 3;
  font-size: 14px;
  line-height: 22px;
  opacity: 0;
  padding: 5px 10;
  border-radius: 50px;
  background: #FADA97;
}
.section-article .container .filters-boxs-m .left .post-block .text {
  width: 100%;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
  padding: 37px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.section-article .container .filters-boxs-m .left .post-block .text span {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 21.3333px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
}
.section-article .container .filters-boxs-m .left .post-block .text p {
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  text-transform: capitalize;
  /* Grey Text */
  color: #C5C5C5;
}
.section-article .container .filters-boxs-m .left .post-block .text .type {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-article .container .filters-boxs-m .left .post-block .text .type a {
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  padding: 6px 18px;
  color: #5F5F5F;
  background: #F1F1F1;
}
.section-article .container .filters-boxs-m .line-date {
  width: 100%;
  max-width: 317px;
  min-height: 2300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 120vw;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
  padding: 75px 0;
}
.section-article .container .filters-boxs-m .line-date img {
  margin-bottom: 77px;
}
.section-article .container .filters-boxs-m .line-date::before {
  content: "";
  height: 80%;
  position: absolute;
  left: 49.5%;
  top: 170px;
  background: #EEEEEE;
  border: 1px solid #EEEEEE;
}
.section-article .container .filters-boxs-m .line-date .img-dwn {
  position: absolute;
  bottom: 0;
}
.section-article .container .filters-boxs-m .line-date .btn-border {
  position: absolute;
  bottom: 105px;
}

.section-article-page {
  width: 100%;
  min-height: 100vh;
  overflow: hidden !important;
}
.section-article-page .container {
  padding: 95px;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
}
.section-article-page .container p {
  margin-bottom: 70px;
  font-weight: 200;
  font-size: 27px;
  line-height: 200%;
  color: #fff;
}
.section-article-page .container p .read {
  text-decoration: underline;
  padding-bottom: 3px;
  color: #fff;
  margin-right: 3px;
}
.section-article-page .container a {
  color: #fff;
}
.section-article-page .container .artic {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}
.section-article-page .container .artic.active .artic-vis .img {
  transform: rotate(-180deg);
}
.section-article-page .container .artic.active .artic-content {
  opacity: 1;
  position: relative;
  pointer-events: visible;
  top: unset;
  visibility: visible;
}
.section-article-page .container .artic .artic-vis {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.section-article-page .container .artic .artic-vis .img {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1C1C1C;
  margin-right: 20px;
  border-radius: 50%;
}
.section-article-page .container .artic .artic-vis span {
  font-weight: 500;
  font-size: 30px;
  line-height: 200%;
  color: #fff;
}
.section-article-page .container .artic .artic-content {
  opacity: 0;
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px 50px;
  padding-left: 65px;
  padding-right: 0;
  visibility: hidden;
}
.section-article-page .container .artic .artic-content ul {
  width: 100%;
  margin-bottom: 45px;
}
.section-article-page .container .artic .artic-content ul li {
  position: relative;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 27px;
  line-height: 200%;
  color: #959595;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}
.section-article-page .container .artic .artic-content ul li::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 7px;
  border-radius: 50%;
  border: 4px solid #959595;
}
.section-article-page .container .artic .artic-content .btn {
  max-width: 227px;
  color: #000;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 70px;
}
.section-article-page .container .artic .artic-content .btn.btn-center {
  margin: 0 auto;
}
.section-article-page .container .artic .artic-content .btn.btn-end {
  position: relative;
  left: calc(100% - 227px);
}
.section-article-page .container .artic .artic-content .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 60px;
  overflow: hidden;
}
.section-article-page .container .artic .artic-content .slider .gallery-top {
  width: 100%;
  max-width: 855px;
  height: 100%;
  margin-right: 25px;
  overflow: hidden;
}
.section-article-page .container .artic .artic-content .slider .gallery-top .swiper-wrapper .swiper-slide .box {
  width: 100%;
  max-width: 855px;
  height: 100%;
  min-height: 481px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.section-article-page .container .artic .artic-content .slider .gallery-top .swiper-wrapper .swiper-slide .box .play {
  position: absolute;
  bottom: -80px;
}
.section-article-page .container .artic .artic-content .slider .gallery-top .swiper-wrapper .swiper-slide .box .player {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs {
  width: 40%;
  height: 100%;
  overflow: hidden;
  max-height: 481px;
  position: relative;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs::before {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 300px;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper .swiper-slide {
  height: 100%;
  margin-bottom: -5px !important;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper .swiper-slide .box {
  width: 100%;
  max-width: 230px;
  height: 100%;
  max-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper .swiper-slide .box .play {
  position: absolute;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper .swiper-slide .box .player {
  width: 100%;
  height: 100%;
  max-height: 130px;
  object-fit: cover;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-button-next {
  transform: rotate(90deg);
  position: absolute;
  right: unset;
  top: unset;
  bottom: 0px;
  left: 100px;
  z-index: 4;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-button-next:after {
  font-size: 40px;
  color: #C5C5C5;
}
.section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-button-prev {
  opacity: 0;
  pointer-events: none;
}
.section-article-page .container .artic .artic-content .slider2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  overflow: hidden;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-top2 {
  width: 100%;
  max-width: 855px;
  height: 100%;
  margin-right: 25px;
  overflow: hidden;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-top2 .swiper-wrapper .swiper-slide .box {
  width: 100%;
  max-width: 855px;
  height: 100%;
  min-height: 481px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-top2 .swiper-wrapper .swiper-slide .box .play {
  position: absolute;
  bottom: -80px;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-top2 .swiper-wrapper .swiper-slide .box .player {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 {
  width: 40%;
  height: 100%;
  overflow: hidden;
  max-height: 481px;
  position: relative;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2::before {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(0deg, #181818, #181818), #FFFFFF;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper .swiper-slide {
  height: 100%;
  margin-bottom: -5px !important;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper .swiper-slide .box {
  width: 100%;
  max-width: 230px;
  height: 100%;
  max-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper .swiper-slide .box .play {
  position: absolute;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper .swiper-slide .box .player {
  width: 100%;
  height: 100%;
  max-height: 130px;
  object-fit: cover;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-button-next {
  transform: rotate(90deg);
  position: absolute;
  right: unset;
  top: unset;
  bottom: 0px;
  left: 100px;
  z-index: 4;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-button-next:after {
  font-size: 40px;
  color: #C5C5C5;
}
.section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-button-prev {
  opacity: 0;
  pointer-events: none;
}
.section-article-page .container .artic .artic-content .artic-tool {
  width: 100%;
  margin-bottom: 30px;
}
.section-article-page .container .artic .artic-content .artic-tool.active-tool .artic-tool-vis .img {
  transform: rotate(-180deg);
}
.section-article-page .container .artic .artic-content .artic-tool.active-tool .artic-tool-content {
  display: flex;
}
.section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis .img {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1C1C1C;
  margin-right: 20px;
  border-radius: 50%;
}
.section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis span {
  font-weight: 500;
  font-size: 30px;
  line-height: 200%;
  color: #fff;
}
.section-article-page .container .artic .artic-content .artic-tool .artic-tool-content {
  display: none;
  flex-direction: column;
  padding: 25px 50px;
  padding-left: 65px;
  padding-right: 0;
}
.section-article-page .container .artic .artic-content .note {
  padding: 46px 85px;
  position: relative;
  background: #303030;
  font-weight: 500;
  font-size: 26.6667px;
  line-height: 200%;
  color: #fff;
  margin-bottom: 60px;
}
.section-article-page .container .artic .artic-content .note::before {
  content: "";
  width: 6px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #C4C4C4;
}
.section-article-page .container .artic .artic-content .btn-border-gradient {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}
.section-article-page .container .artic .artic-content .btn-border-gradient img {
  margin-right: 10px;
  position: relative;
  z-index: 2;
  margin-left: 0;
  filter: unset;
}
.section-article-page .container .table-scroll {
  width: 100%;
}
.section-article-page .container .table-scroll .table-title {
  margin-bottom: 10px;
  font-family: Aeroport;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 200%;
  color: #FFFFFF;
}
.section-article-page .container .table-scroll table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 60px;
}
.section-article-page .container .table-scroll table thead tr th {
  background: #2F2F2F;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  color: #fff;
}
.section-article-page .container .table-scroll table th, .section-article-page .container .table-scroll table td {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #959595;
  text-align: center;
  padding: 18px;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  color: #fff;
}

.section_contact {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section_contact .container .contact__copy {
  width: 100%;
  max-width: 1000px;
  font-family: Aeroport;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -0.05em;
  color: #959595;
}

@media (max-width: 1550px) {
  .header .container {
    max-width: 1200px;
  }

  .btn {
    min-width: 160px;
    max-height: 56px;
  }

  .btn-border {
    position: absolute;
    bottom: 105px;
  }

  .section-article {
    margin-top: 100px;
  }
  .section-article .container {
    max-width: 1200px;
  }
  .section-article .container .box-top {
    justify-content: flex-start;
  }
  .section-article .container .box-top .text {
    padding: 55px;
    max-width: 475px;
    padding-right: 10px;
  }
  .section-article .container .box-top .text .date {
    padding-right: 20px;
  }
  .section-article .container .box-top .text .date .date-update {
    font-size: 17px;
    line-height: 15px;
  }
  .section-article .container .box-top .text .date .date-moment {
    font-size: 12px;
    line-height: 15px;
  }
  .section-article .container .box-top .text span {
    margin-bottom: 17px;
    font-size: 25px;
    line-height: 150%;
  }
  .section-article .container .box-top .text p {
    margin-bottom: 17px;
    font-size: 13px;
    line-height: 150%;
  }
  .section-article .container .box-top .text .btn-border-gradient {
    margin-bottom: 67px;
    padding: 12px 14px;
    font-size: 10px;
    line-height: 12px;
    min-width: 116px;
  }
  .section-article .container .box-top .img {
    max-width: 724px;
  }
  .section-article .container .box-top .img img {
    min-height: 492px;
  }
  .section-article .container .filters-boxs .left {
    min-width: 475px;
    max-width: 475px;
  }
  .section-article .container .filters-boxs .left.mt-550 {
    margin-top: 450px;
  }
  .section-article .container .filters-boxs .left.left-invert {
    right: -238px;
  }
  .section-article .container .filters-boxs .left.left-invert .post-block::before {
    content: "";
    width: 1.3px;
    height: 90%;
    position: absolute;
    left: -1px;
    top: 0;
    background: #EEEEEE;
  }
  .section-article .container .filters-boxs .left.left-invert .post-block .date {
    right: unset;
    left: -119px;
  }
  .section-article .container .filters-boxs .left .list {
    margin-top: 50px;
  }
  .section-article .container .filters-boxs .left .list .list-group {
    margin-bottom: 26px;
  }
  .section-article .container .filters-boxs .left .list .list-group:last-child {
    margin-bottom: 0;
  }
  .section-article .container .filters-boxs .left .list .list-group span {
    margin-bottom: 14px;
    font-size: 11.191px;
    line-height: 15px;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a {
    flex-wrap: wrap;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang {
    max-width: 126px;
    z-index: 20;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-top {
    border-radius: 20px 20px 0 0;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-top img {
    transform: rotate(-180deg);
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-drop {
    display: flex;
    height: unset;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top {
    padding: 10px 20px;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top span {
    font-size: 11.191px;
    line-height: 100%;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top img {
    transform: rotate(180deg);
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop {
    top: 70%;
    padding: 15px;
    padding-left: 20px;
    height: 100%;
    max-height: 110px;
    display: none;
    height: 0;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap {
    width: 93.5%;
    overflow: auto;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap a {
    font-size: 11.191px;
    line-height: 14px;
    margin-bottom: 15px;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a a {
    margin-right: 20px;
    padding: 8px 16px;
    font-size: 11.191px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  .section-article .container .filters-boxs .left .post-block {
    margin-bottom: 136px;
  }
  .section-article .container .filters-boxs .left .post-block .date {
    max-width: 119px;
    max-height: 70px;
    right: -119px;
  }
  .section-article .container .filters-boxs .left .post-block .date span {
    font-size: 20px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .left .post-block .date p {
    font-size: 10px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .left .post-block .img {
    min-height: 300px;
    max-height: 300px;
  }
  .section-article .container .filters-boxs .left .post-block .text {
    padding: 30px;
  }
  .section-article .container .filters-boxs .left .post-block .text span {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .left .post-block .text p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .left .post-block .text .type a {
    padding: 5px 14px;
    font-size: 9px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .line-date {
    max-width: 238px;
    left: 475px;
  }

  .section-article-page .container {
    padding: 30px;
    max-width: 1200px;
  }
  .section-article-page .container p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 150%;
  }
  .section-article-page .container .artic {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-article-page .container .artic .artic-vis span {
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
  }
  .section-article-page .container .artic .artic-content {
    padding: 15px 30px;
    padding-left: 35px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis span {
    font-size: 20px;
    line-height: 150%;
  }
  .section-article-page .container .artic .artic-content ul {
    margin-bottom: 25px;
  }
  .section-article-page .container .artic .artic-content ul li {
    font-size: 20px;
    line-height: 180%;
  }
  .section-article-page .container .artic .artic-content .note {
    padding: 26px 55px;
    font-weight: 500;
    font-size: 20.6667px;
    margin-bottom: 30px;
  }
  .section-article-page .container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;
  }
  .section-article-page .container table thead tr th {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
  }
  .section-article-page .container table th, .section-article-page .container table td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    text-align: center;
    padding: 18px;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
  }
}
@media (max-width: 1250px) {
  .btn {
    min-width: 160px;
    max-height: 56px;
  }

  .btn-border {
    position: absolute;
    bottom: 105px;
  }

  .section-article {
    margin-top: 100px;
    padding-bottom: 150px;
  }
  .section-article .container {
    max-width: 910px;
    justify-content: center;
  }
  .section-article .container .box-top {
    justify-content: center;
  }
  .section-article .container .box-top .text {
    padding: 45px;
    max-width: 395px;
    padding-right: 10px;
  }
  .section-article .container .box-top .text .date {
    font-size: 16.6667px;
    line-height: 21px;
  }
  .section-article .container .box-top .text span {
    margin-bottom: 17px;
    font-size: 20.8333px;
    line-height: 150%;
  }
  .section-article .container .box-top .text p {
    margin-bottom: 17px;
    font-size: 10.8333px;
    line-height: 150%;
  }
  .section-article .container .box-top .text .btn-border-gradient {
    margin-bottom: 67px;
    padding: 12px 14px;
    font-size: 10px;
    line-height: 12px;
    min-width: 116px;
  }
  .section-article .container .box-top .text .type a {
    margin-right: 16px;
    padding: 5px 16px;
    font-size: 10.8333px;
    line-height: 150%;
  }
  .section-article .container .box-top .img {
    max-width: 595px;
  }
  .section-article .container .box-top .img img {
    min-height: 410px;
  }
  .section-article .container .filters-boxs {
    width: 100%;
  }
  .section-article .container .filters-boxs .left {
    min-width: 395px;
    max-width: 395px;
  }
  .section-article .container .filters-boxs .left.mt-550 {
    margin-top: 400px;
  }
  .section-article .container .filters-boxs .left.left-invert {
    right: -198px;
  }
  .section-article .container .filters-boxs .left.left-invert .post-block::before {
    content: "";
    width: 1.3px;
    height: 90%;
    position: absolute;
    left: -1px;
    top: 0;
    background: #EEEEEE;
  }
  .section-article .container .filters-boxs .left.left-invert .post-block .date {
    right: unset;
    left: -99px;
  }
  .section-article .container .filters-boxs .left .list {
    margin-top: 42px;
  }
  .section-article .container .filters-boxs .left .list .list-group {
    margin-bottom: 21px;
  }
  .section-article .container .filters-boxs .left .list .list-group:last-child {
    margin-bottom: 0;
  }
  .section-article .container .filters-boxs .left .list .list-group span {
    margin-bottom: 14px;
    font-size: 10px;
    line-height: 12px;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a {
    flex-wrap: wrap;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang {
    z-index: 20;
    max-width: 126px;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-top {
    border-radius: 20px 20px 0 0;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-top img {
    transform: rotate(-180deg);
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang.active .lang-drop {
    display: flex;
    height: unset;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top {
    padding: 11px 20px;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top span {
    font-size: 10.191px;
    line-height: 100%;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-top img {
    transform: rotate(180deg);
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop {
    top: 70%;
    padding: 15px;
    padding-left: 20px;
    height: 100%;
    max-height: 110px;
    display: none;
    height: 0;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap {
    width: 93.5%;
    overflow: auto;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap a {
    padding: 0;
    font-size: 10.191px;
    line-height: 12px;
    margin-bottom: 10px;
  }
  .section-article .container .filters-boxs .left .list .list-group .list-group-a a {
    font-size: 10.191px;
  }
  .section-article .container .filters-boxs .left .post-block {
    margin-bottom: 114px;
  }
  .section-article .container .filters-boxs .left .post-block .date {
    max-width: 99px;
    max-height: 58px;
    right: -99px;
  }
  .section-article .container .filters-boxs .left .post-block .date span {
    font-size: 20px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .left .post-block .date p {
    font-size: 10px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .left .post-block .img {
    min-height: 250px;
    max-height: 250px;
  }
  .section-article .container .filters-boxs .left .post-block .text {
    padding: 30px;
  }
  .section-article .container .filters-boxs .left .post-block .text span {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .left .post-block .text p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .left .post-block .text .type a {
    padding: 5px 14px;
    font-size: 9px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs .line-date {
    max-width: 198px;
    min-height: 1500px;
    left: 395px;
  }
}
@media (max-width: 980px) {
  .header {
    width: 100%;
    min-height: 70px;
  }
  .header .container {
    padding: 10px 15px;
  }
  .header .container .logo img {
    width: 30px;
  }
  .header .container .menu {
    display: none;
  }
  .header .container .lang {
    display: none;
  }
  .header .container .menu-m {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 40;
  }
  .header .container .menu-m.active .menu-m-wrapper {
    display: block;
  }
  .header .container .menu-m .menu-m-open {
    width: 100%;
    max-width: 20px;
    min-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .header .container .menu-m .menu-m-open span {
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header .container .menu-m .menu-m-wrapper {
    position: absolute;
    top: -10px;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
    width: 100%;
    max-width: 202px;
    min-height: 204px;
    padding: 20px;
    display: none;
  }
  .header .container .menu-m .menu-m-wrapper .close {
    position: absolute;
    right: 10px;
    top: 25px;
    display: flex;
    width: 20px;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 20;
  }
  .header .container .menu-m .menu-m-wrapper .close span {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
  }
  .header .container .menu-m .menu-m-wrapper .close span:nth-child(1) {
    transform: rotate(45deg);
  }
  .header .container .menu-m .menu-m-wrapper .close span:nth-child(2) {
    transform: rotate(-45deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m.active .lang-top img {
    transform: rotate(0deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m.active .lang-drop {
    display: flex;
    height: unset;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top span {
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 100%;
    margin-top: -3px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top img {
    width: 7px;
    transform: rotate(180deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-drop {
    width: 100%;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    top: 110%;
    padding: 10px 0;
    min-height: 180px;
    display: none;
    height: 0;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-drop a {
    margin-bottom: 15px;
    color: #fff;
    font-size: 15px;
  }
  .header .container .menu-m .menu-m-wrapper .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header .container .menu-m .menu-m-wrapper .bottom a {
    color: #fff;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #3E3E3E;
    margin-top: 20px;
  }
  .header .container .menu-m .menu-m-wrapper .bottom a:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .btn {
    padding: 0;
    font-size: 11.1652px;
    line-height: 14px;
    min-height: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    max-width: 120px;
  }
  .btn.btn-border {
    min-height: 15px;
    max-width: 60px;
  }

  .section-article {
    margin-top: 0px;
    padding: 40px 0;
  }
  .section-article::after {
    display: none;
  }
  .section-article.bg-off::before {
    display: none;
  }
  .section-article .container {
    padding: 0px 15px;
  }
  .section-article .container .box-top {
    flex-direction: column;
  }
  .section-article .container .box-top::before {
    content: "";
    width: 251px;
    height: 251px;
    position: absolute;
    left: unset;
    right: 0;
    bottom: 0px;
    z-index: -1;
    background: url("../img/article/bg-3.png") right bottom no-repeat;
    background-size: contain;
  }
  .section-article .container .box-top .img {
    order: -1;
    display: flex;
  }
  .section-article .container .box-top .img img {
    min-height: 200px;
  }
  .section-article .container .box-top .text {
    padding: 23px;
    max-width: 100%;
  }
  .section-article .container .box-top .text .date {
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 0;
  }
  .section-article .container .box-top .text .date .date-update {
    font-size: 14px;
  }
  .section-article .container .box-top .text span {
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 17px;
  }
  .section-article .container .box-top .text p {
    margin-bottom: 17px;
    font-size: 10px;
    line-height: 150%;
  }
  .section-article .container .box-top .text .btn-border-gradient {
    margin-bottom: 21px;
    font-size: 10px;
    line-height: 12px;
    padding: 12px 15px;
    min-width: 116px;
  }
  .section-article .container .box-top .text .btn-border-gradient img {
    width: 6px;
  }
  .section-article .container .box-top .text .type a {
    margin-right: 10px;
    padding: 3px 10px;
    font-size: 8.75326px;
    line-height: 150%;
  }
  .section-article .container .box-top .text .social {
    margin-bottom: 50px;
  }
  .section-article .container .box-top .text .social a {
    margin-right: 18px;
    width: 14px;
  }
  .section-article .container .filters-boxs {
    display: none;
  }
  .section-article .container .filters-boxs-m {
    display: flex;
    position: relative;
  }
  .section-article .container .filters-boxs-m .line-date {
    min-width: 77px;
    max-width: 77px;
    min-height: 100%;
    padding: 37px 0;
    height: 98%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .section-article .container .filters-boxs-m .line-date img {
    width: 14px;
    height: 7px;
  }
  .section-article .container .filters-boxs-m .line-date::before {
    display: none;
  }
  .section-article .container .filters-boxs-m .line-date .img-dwn {
    margin: 0;
    bottom: 20px;
  }
  .section-article .container .filters-boxs-m .line-date .btn-border {
    padding: 5px 8px;
    font-size: 4px;
    line-height: 150%;
    min-width: 50px;
    bottom: 50px;
  }
  .section-article .container .filters-boxs-m .left {
    margin-right: 15px;
    position: relative;
    left: 77px;
    width: 80%;
  }
  .section-article .container .filters-boxs-m .left .list {
    margin: 20px 30px;
    margin-right: 0;
  }
  .section-article .container .filters-boxs-m .left .list .list-group {
    margin-bottom: 23px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group:last-child {
    margin-bottom: 0;
  }
  .section-article .container .filters-boxs-m .left .list .list-group span {
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 12px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a a {
    margin-bottom: 8px;
    margin-right: 10px;
    font-size: 9.22305px;
    line-height: 9px;
    padding: 5px 10px;
    border-radius: 50px;
    background: #1C1C1C;
    color: #959595;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a a.active {
    background: #fff;
    border-radius: 50px;
    border: none;
    color: #1C1C1C;
    -webkit-text-fill-color: unset;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang {
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    z-index: 20;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-top {
    border-radius: 20px 20px 0 0;
    padding-top: 10px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-top img {
    transform: rotate(-180deg);
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-drop {
    display: flex;
    height: unset;
    top: 80%;
    border-radius: 0 0 20px 20px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    max-height: 22px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top span {
    font-size: 9.22305px;
    margin-top: -1px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top img {
    width: 5px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop {
    padding: 10px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap {
    width: 100%;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap a {
    margin-bottom: 10px;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    color: #959595;
    font-family: Aeroport;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    font-size: 10px;
  }
  .section-article .container .filters-boxs-m .left .post-block {
    margin-bottom: 50px;
  }
  .section-article .container .filters-boxs-m .left .post-block:last-child {
    margin-bottom: 170px;
  }
  .section-article .container .filters-boxs-m .left .post-block::before {
    content: "";
    width: 1.3px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    background: #EEEEEE;
  }
  .section-article .container .filters-boxs-m .left .post-block .date {
    right: unset;
    left: -77px;
    max-width: 77px;
    max-height: 40px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
  }
  .section-article .container .filters-boxs-m .left .post-block .date span {
    font-size: 12px;
    line-height: 150%;
    color: #fff;
  }
  .section-article .container .filters-boxs-m .left .post-block .date p {
    font-size: 8px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs-m .left .post-block .img {
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    max-height: 120px;
  }
  .section-article .container .filters-boxs-m .left .post-block .img .btn-black {
    min-width: 120px;
    font-size: 10px;
    padding: 8px 12px;
  }
  .section-article .container .filters-boxs-m .left .post-block .img .btn-black img {
    width: 6px;
  }
  .section-article .container .filters-boxs-m .left .post-block .text {
    padding: 11px;
  }
  .section-article .container .filters-boxs-m .left .post-block .text span {
    margin-bottom: 10px;
    font-size: 10.38655px;
    line-height: 150%;
    color: #fff;
  }
  .section-article .container .filters-boxs-m .left .post-block .text p {
    margin-bottom: 10px;
    font-size: 9.98739px;
    line-height: 150%;
    color: #959595;
  }
  .section-article .container .filters-boxs-m .left .post-block .text .type a {
    margin-right: 6px;
    padding: 2px 5px;
    font-size: 8.59244px;
    line-height: 150%;
    border-radius: 50px;
    background: #1C1C1C;
    color: #5F5F5F;
  }

  .section-article-page {
    width: unset;
    margin: 0 15px;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .section-article-page .container {
    padding: 23px 15px;
    overflow: hidden;
  }
  .section-article-page .container p {
    width: 100%;
    font-weight: 600;
    font-size: 10px;
    line-height: 200%;
    margin-bottom: 20px;
  }
  .section-article-page .container .artic {
    margin-bottom: 15px;
  }
  .section-article-page .container .artic.active .artic-content {
    display: block;
  }
  .section-article-page .container .artic .artic-vis .img {
    width: 20px;
    height: 20px;
  }
  .section-article-page .container .artic .artic-vis .img img {
    width: 50%;
  }
  .section-article-page .container .artic .artic-vis span {
    font-size: 14px;
  }
  .section-article-page .container .artic .artic-content {
    padding: 0;
    padding-left: 10px;
    display: none;
  }
  .section-article-page .container .artic .artic-content ul {
    margin-bottom: 15px;
  }
  .section-article-page .container .artic .artic-content ul li {
    width: 95%;
    font-size: 10px;
    line-height: 200%;
    padding-left: 25px;
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content ul li::before {
    width: 7px;
    height: 7px;
  }
  .section-article-page .container .artic .artic-content .btn {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 20px;
    min-width: 150px;
  }
  .section-article-page .container .artic .artic-content .slider {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-top {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-top .swiper-wrapper .swiper-slide .box {
    min-height: 250px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-top .swiper-wrapper .swiper-slide .box .play {
    width: 150px;
    bottom: -10px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs {
    width: 100%;
    max-width: 100%;
    max-height: 100px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs::before {
    display: none;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper .swiper-slide {
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper .swiper-slide .box {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-button-next {
    display: none;
  }
  .section-article-page .container .artic .artic-content .slider2 {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-top2 {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-top2 .swiper-wrapper .swiper-slide .box {
    min-height: 250px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-top2 .swiper-wrapper .swiper-slide .box .play {
    width: 150px;
    bottom: -10px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 {
    width: 100%;
    max-width: 100%;
    max-height: 100px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2::before {
    display: none;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper .swiper-slide {
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper .swiper-slide .box {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-button-next {
    display: none;
  }
  .section-article-page .container .artic .artic-content .artic-tool {
    margin-bottom: 20px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis .img {
    width: 20px;
    height: 20px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis .img img {
    width: 50%;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis span {
    font-size: 14px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-content {
    padding: 0 0px;
    padding-left: 10px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-content .btn {
    margin-bottom: 30px;
  }
  .section-article-page .container .artic .artic-content .note {
    padding: 20px 30px;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 30px;
  }
  .section-article-page .container .artic .artic-content .btn-border-gradient {
    font-size: 12px;
    line-height: 17px;
    min-width: 150px;
    padding: 10px 15px;
  }
  .section-article-page .container .table-scroll {
    width: 100%;
    overflow: auto;
  }
  .section-article-page .container .table-scroll table {
    width: 100%;
    margin-bottom: 15px;
  }
  .section-article-page .container .table-scroll table thead tr th {
    width: 100%;
    min-width: 100px;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
  }
  .section-article-page .container .table-scroll table th, .section-article-page .container .table-scroll table td {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
  }

  .section_contact {
    margin: 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .section_contact .container .contact__copy {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .header {
    width: 100%;
    min-height: 70px;
  }
  .header .container {
    padding: 10px 15px;
  }
  .header .container .logo img {
    width: 30px;
  }
  .header .container .menu {
    display: none;
  }
  .header .container .lang {
    display: none;
  }
  .header .container .menu-m {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 40;
  }
  .header .container .menu-m.active .menu-m-wrapper {
    display: block;
  }
  .header .container .menu-m .menu-m-open {
    width: 100%;
    max-width: 20px;
    min-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .header .container .menu-m .menu-m-open span {
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header .container .menu-m .menu-m-wrapper {
    position: absolute;
    top: -10px;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
    width: 100%;
    max-width: 202px;
    min-height: 204px;
    padding: 20px;
    display: none;
  }
  .header .container .menu-m .menu-m-wrapper .close {
    position: absolute;
    right: 10px;
    top: 25px;
    display: flex;
    width: 20px;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 20;
  }
  .header .container .menu-m .menu-m-wrapper .close span {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
  }
  .header .container .menu-m .menu-m-wrapper .close span:nth-child(1) {
    transform: rotate(45deg);
  }
  .header .container .menu-m .menu-m-wrapper .close span:nth-child(2) {
    transform: rotate(-45deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m.active .lang-top img {
    transform: rotate(0deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m.active .lang-drop {
    display: flex;
    height: unset;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top span {
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 100%;
    margin-top: -3px;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-top img {
    width: 7px;
    transform: rotate(180deg);
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-drop {
    width: 100%;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    top: 110%;
    padding: 10px 0;
    min-height: 180px;
    display: none;
    height: 0;
  }
  .header .container .menu-m .menu-m-wrapper .top .lang-m .lang-drop a {
    margin-bottom: 15px;
    color: #fff;
    font-size: 15px;
  }
  .header .container .menu-m .menu-m-wrapper .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header .container .menu-m .menu-m-wrapper .bottom a {
    color: #fff;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #3E3E3E;
    margin-top: 20px;
  }
  .header .container .menu-m .menu-m-wrapper .bottom a:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .btn {
    padding: 0;
    font-size: 11.1652px;
    line-height: 14px;
    min-height: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    max-width: 120px;
  }
  .btn.btn-border {
    min-height: 15px;
    max-width: 60px;
  }

  .section-article {
    margin-top: 0px;
    padding: 40px 0;
  }
  .section-article::after {
    display: none;
  }
  .section-article.bg-off::before {
    display: none;
  }
  .section-article .container {
    padding: 0px 15px;
  }
  .section-article .container .box-top {
    flex-direction: column;
  }
  .section-article .container .box-top::before {
    content: "";
    width: 251px;
    height: 251px;
    position: absolute;
    left: unset;
    right: 0;
    bottom: 0px;
    z-index: -1;
    background: url("../img/article/bg-3.png") right bottom no-repeat;
    background-size: contain;
  }
  .section-article .container .box-top .img {
    order: -1;
    display: flex;
  }
  .section-article .container .box-top .img img {
    min-height: 200px;
  }
  .section-article .container .box-top .text {
    padding: 23px;
  }
  .section-article .container .box-top .text .date {
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 0;
  }
  .section-article .container .box-top .text .date .date-update {
    font-size: 14px;
  }
  .section-article .container .box-top .text span {
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 17px;
  }
  .section-article .container .box-top .text p {
    margin-bottom: 17px;
    font-size: 10px;
    line-height: 150%;
  }
  .section-article .container .box-top .text .btn-border-gradient {
    margin-bottom: 21px;
    font-size: 10px;
    line-height: 12px;
    padding: 12px 15px;
    min-width: 116px;
  }
  .section-article .container .box-top .text .btn-border-gradient img {
    width: 6px;
  }
  .section-article .container .box-top .text .type a {
    margin-right: 10px;
    padding: 3px 10px;
    font-size: 8.75326px;
    line-height: 150%;
  }
  .section-article .container .box-top .text .social {
    margin-bottom: 50px;
  }
  .section-article .container .box-top .text .social a {
    margin-right: 18px;
    width: 14px;
  }
  .section-article .container .filters-boxs {
    display: none;
  }
  .section-article .container .filters-boxs-m {
    display: flex;
    position: relative;
  }
  .section-article .container .filters-boxs-m .line-date {
    min-width: 77px;
    max-width: 77px;
    min-height: 100% !important;
    padding: 37px 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .section-article .container .filters-boxs-m .line-date img {
    width: 14px;
    height: 7px;
  }
  .section-article .container .filters-boxs-m .line-date::before {
    display: none;
  }
  .section-article .container .filters-boxs-m .line-date .img-dwn {
    margin: 0;
    bottom: 20px;
  }
  .section-article .container .filters-boxs-m .line-date .btn-border {
    padding: 5px 8px;
    font-size: 4px;
    line-height: 150%;
    min-width: 50px;
    bottom: 50px;
  }
  .section-article .container .filters-boxs-m .left {
    margin-right: 15px;
    position: relative;
    left: 77px;
    width: 80%;
  }
  .section-article .container .filters-boxs-m .left .list {
    margin: 20px 30px;
    margin-right: 0;
  }
  .section-article .container .filters-boxs-m .left .list .list-group {
    margin-bottom: 23px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group:last-child {
    margin-bottom: 0;
  }
  .section-article .container .filters-boxs-m .left .list .list-group span {
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 12px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a a {
    margin-bottom: 8px;
    margin-right: 10px;
    font-size: 9.22305px;
    line-height: 9px;
    padding: 5px 10px;
    border-radius: 50px;
    background: #1C1C1C;
    color: #959595;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a a.active {
    background: #fff;
    border-radius: 50px;
    border: none;
    color: #1C1C1C;
    -webkit-text-fill-color: unset;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang {
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    z-index: 20;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-top {
    border-radius: 20px 20px 0 0;
    padding-top: 10px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-top img {
    transform: rotate(-180deg);
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang.active .lang-drop {
    display: flex;
    height: unset;
    top: 80%;
    border-radius: 0 0 20px 20px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    max-height: 22px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top span {
    font-size: 9.22305px;
    margin-top: -1px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-top img {
    width: 5px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop {
    padding: 10px;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap {
    width: 100%;
  }
  .section-article .container .filters-boxs-m .left .list .list-group .list-group-a .lang .lang-drop .lang-drop-wrap a {
    margin-bottom: 10px;
    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
    color: #959595;
    font-family: Aeroport;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    font-size: 10px;
  }
  .section-article .container .filters-boxs-m .left .post-block {
    margin-bottom: 50px;
  }
  .section-article .container .filters-boxs-m .left .post-block:last-child {
    margin-bottom: 170px;
  }
  .section-article .container .filters-boxs-m .left .post-block::before {
    content: "";
    width: 1.3px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    background: #EEEEEE;
  }
  .section-article .container .filters-boxs-m .left .post-block .date {
    right: unset;
    left: -77px;
    max-width: 77px;
    max-height: 40px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
  }
  .section-article .container .filters-boxs-m .left .post-block .date span {
    font-size: 12px;
    line-height: 150%;
    color: #fff;
  }
  .section-article .container .filters-boxs-m .left .post-block .date p {
    font-size: 8px;
    line-height: 150%;
  }
  .section-article .container .filters-boxs-m .left .post-block .img {
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    max-height: 120px;
  }
  .section-article .container .filters-boxs-m .left .post-block .img .btn-black {
    min-width: 120px;
    font-size: 10px;
    padding: 8px 12px;
  }
  .section-article .container .filters-boxs-m .left .post-block .img .btn-black img {
    width: 6px;
  }
  .section-article .container .filters-boxs-m .left .post-block .text {
    padding: 11px;
  }
  .section-article .container .filters-boxs-m .left .post-block .text span {
    margin-bottom: 10px;
    font-size: 10.38655px;
    line-height: 150%;
    color: #fff;
  }
  .section-article .container .filters-boxs-m .left .post-block .text p {
    margin-bottom: 10px;
    font-size: 9.98739px;
    line-height: 150%;
    color: #959595;
  }
  .section-article .container .filters-boxs-m .left .post-block .text .type a {
    margin-right: 6px;
    padding: 2px 5px;
    font-size: 8.59244px;
    line-height: 150%;
    border-radius: 50px;
    background: #1C1C1C;
    color: #5F5F5F;
  }

  .section-article-page {
    width: unset;
    margin: 0 15px;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .section-article-page .container {
    padding: 23px 15px;
    overflow: hidden;
  }
  .section-article-page .container p {
    width: 100%;
    font-weight: 600;
    font-size: 10px;
    line-height: 200%;
    margin-bottom: 20px;
  }
  .section-article-page .container .artic {
    margin-bottom: 15px;
  }
  .section-article-page .container .artic.active .artic-content {
    display: block;
  }
  .section-article-page .container .artic .artic-vis .img {
    width: 20px;
    height: 20px;
  }
  .section-article-page .container .artic .artic-vis .img img {
    width: 50%;
  }
  .section-article-page .container .artic .artic-vis span {
    font-size: 14px;
  }
  .section-article-page .container .artic .artic-content {
    padding: 0;
    padding-left: 10px;
    display: none;
  }
  .section-article-page .container .artic .artic-content ul {
    margin-bottom: 15px;
  }
  .section-article-page .container .artic .artic-content ul li {
    width: 95%;
    font-size: 10px;
    line-height: 200%;
    padding-left: 25px;
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content ul li::before {
    width: 7px;
    height: 7px;
  }
  .section-article-page .container .artic .artic-content .btn {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 20px;
    min-width: 150px;
  }
  .section-article-page .container .artic .artic-content .slider {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-top {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-top .swiper-wrapper .swiper-slide .box {
    min-height: 250px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-top .swiper-wrapper .swiper-slide .box .play {
    width: 150px;
    bottom: -10px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs {
    width: 100%;
    max-width: 100%;
    max-height: 100px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs::before {
    display: none;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper .swiper-slide {
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-wrapper .swiper-slide .box {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content .slider .gallery-thumbs .swiper-button-next {
    display: none;
  }
  .section-article-page .container .artic .artic-content .slider2 {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-top2 {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-top2 .swiper-wrapper .swiper-slide .box {
    min-height: 250px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-top2 .swiper-wrapper .swiper-slide .box .play {
    width: 150px;
    bottom: -10px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 {
    width: 100%;
    max-width: 100%;
    max-height: 100px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2::before {
    display: none;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper .swiper-slide {
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-wrapper .swiper-slide .box {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .section-article-page .container .artic .artic-content .slider2 .gallery-thumbs2 .swiper-button-next {
    display: none;
  }
  .section-article-page .container .artic .artic-content .artic-tool {
    margin-bottom: 20px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis .img {
    width: 20px;
    height: 20px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis .img img {
    width: 50%;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-vis span {
    font-size: 14px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-content {
    padding: 0 0px;
    padding-left: 10px;
  }
  .section-article-page .container .artic .artic-content .artic-tool .artic-tool-content .btn {
    margin-bottom: 30px;
  }
  .section-article-page .container .artic .artic-content .note {
    padding: 20px 30px;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 30px;
  }
  .section-article-page .container .artic .artic-content .btn-border-gradient {
    font-size: 12px;
    line-height: 17px;
    min-width: 150px;
    padding: 10px 15px;
  }
  .section-article-page .container .table-scroll {
    width: 100%;
    overflow: auto;
  }
  .section-article-page .container .table-scroll table {
    width: 100%;
    margin-bottom: 15px;
  }
  .section-article-page .container .table-scroll table thead tr th {
    width: 100%;
    min-width: 100px;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
  }
  .section-article-page .container .table-scroll table th, .section-article-page .container .table-scroll table td {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
  }

  .section_contact {
    margin: 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .section_contact .container .contact__copy {
    font-size: 14px;
  }
}