

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    background: #000;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        max-width: 1070px;
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
        .logo {
            img {
                width: 40px;
            }
        }
        .menu {
            padding: 0 20px;
            a {
                color: #fff;
                margin-right: 40px;
                font-family: Aeroport;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 98.7%;
            
                letter-spacing: -0.05em;
                text-decoration: none;
                color: #FFFFFF;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }
                &:last-child::before {
                    display: none;
                }
                &::before {
                    content: "";
                    width: 1px;
                    height: 80%;
                    position: absolute;
                    right: -20px;
                    top: 20%;
                    background: #3E3E3E;

                }
            }
        }
        .lang {
            cursor: pointer;
            position: relative;
            &.active {
                .lang-top {
                    img {
                        transform: rotate(-180deg);
                    }
                }
                .lang-drop {
                    display: flex;
                    height: unset;
                }
            }
            .lang-top {
                display: flex;
                justify-content: center;
                align-items: center;
                padding:  15px;
                background: #000000;
                border-radius: 10px;

                span {

                    margin-right: 5px;
                    color: #fff;
                    font-family: Aeroport;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 100%;

                    
                    letter-spacing: -0.05em;

                    color: #FFFFFF;

                }
                img {
                    width: 7px;
                    height: 6px;
                    transform: rotate(180deg);
                }
            }
            .lang-drop {
                width: 100%;
                background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
                border-radius: 10px;
              
                flex-direction: column;
                position: absolute;
                top: 100%;
                padding: 15px;
                
                display: none;
                height: 0;
                a {
                    margin-bottom: 25px;
                    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
                    border-radius: 10px;
                    color: #959595;
                    font-family: Aeroport;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 98.7%;
                    /* identical to box height, or 30px */
                    text-decoration: none;
                    letter-spacing: -0.05em;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .row {
            display: flex;
            align-items: center;
        }
        .menu-m {
            display: none;
        }
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: normal;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: -0.05em;
            padding: 13px 20px;
            color: #FFFFFF;
            background: #000000;
            border: 2px solid #393939;
            border-radius: 30px;
            text-decoration: none;
            margin-left: 10px;
            transition: 0.3s;
            &:hover {
                background: #0071E0;
                border: 2px solid transparent;
            }
            img {
                margin-right: 15px;
            }
        }
    }
}

.con-mod {
    width: 100%  !important;
    max-width: 1250px !important;
    padding: 0 15px;
    &::before, &::after {
        display: none !important;
    }
}

.price-adent {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 550px;
    flex-wrap: wrap;
    margin: 80px 0;
    .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;
        &::before {
            content: "";
            width: 65px;
            height: 1px;
            position: absolute;
            left: 0;
            top: -15px;
            background: #fff;
            
        }
        p {
            font-weight: normal;
            font-size: 25px;
            line-height: 120%;
            margin: 0;
            letter-spacing: -0.05em;
            color: rgba(255, 255, 255,.6);
           
            b {
                color: rgba(255, 255, 255,1);
            }
        }
    }
    .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;
        &::before {
            content: "";
            width: 65px;
            height: 1px;
            position: absolute;
            left: 0;
            top: -15px;
            background: #fff;
            
        }
        p {
            font-weight: normal;
            font-size: 25px;
            line-height: 120%;
            margin: 0;
            letter-spacing: -0.05em;
            color: rgba(255, 255, 255,.6);
           
            b {
                color: rgba(255, 255, 255,1);
            }
        }
    }
}

.top__links-mod {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2E2E2E;
    box-sizing: border-box;
    border-radius: 100px;
    .top__link-mod {
        font-weight: normal;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        letter-spacing: -0.05em;
        padding: 14px 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        min-height: 62px;
        border-radius: 100px;
        &.active {
            background: #0071E0;

        }

    }
}

.sction-adent {
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
    .container {
        h2 {
            margin-bottom: 70px;
            font-weight: 500;
            font-size: 50px;
            line-height: 68px;
            letter-spacing: -0.05em;
            
            color: rgba(255, 255, 255,.6);
            b {
                color: rgba(255, 255, 255,1); 
            }
        }
        .title-box {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            .img {
                width: 100%;
                min-width: 162px;
                max-width: 162px;
                height: 100%;
                min-height: 162px;  
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 30px;
                display: flex;
                margin-right: 28px;
            }
            .btn-go {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex-basis: 30%;
                span {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 48px;

                    letter-spacing: -0.05em;
                    margin-bottom: 30px;
                    color: #FFFFFF;
                    img {
                        margin-left: 15px;
                    }
                }
                .btn {
                    padding: 10px 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-weight: normal;
                    font-size: 19.6078px;
                    line-height: 27px;
                    text-decoration: none;
                    text-align: center;
                    letter-spacing: -0.05em;
                    background: linear-gradient(0deg, #0071E0, #0071E0), #FADA97;
                    border-radius: 78.4314px;
                    color: #FFFFFF;
                }
            }
            .table-column {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                border-top: 1px solid #2E2E2E;
                border-bottom: 1px solid #2E2E2E;
                .colum {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                    padding: 17px 0;
            
                    position: relative;
                    &::before {
                        content: "";
                        width: 1px;
                        height: 70%;
                        position: absolute;
                        right: 0;
                        top: 15%;
                        background: #2E2E2E ;
                     
                    }
                    &:last-child {
                     
                        &::before {
                            display: none;
                        }
                    }
                    span {
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        /* identical to box height */
                        
                        text-align: center;
                        letter-spacing: -0.05em;
                        
                        color: #959595;
                    }
                    p {
                        margin: 7px 0;
                        font-weight: 500;
                        font-size: 50px;
                        line-height: 68px;
                        text-align: center;
                        letter-spacing: -0.05em;
                        
                        color: #FFFFFF;
                    }
                }
            }
        }
        .sliders-boxs {
            width: 100%;
            margin-top: 70px;
            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .box {
                            width: 100%;
                            
                            height: 100%;
                            
                            
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.consultation {
    padding: 100px 0;
    width: 100%;
    .container {
        .box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
                width: 60%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                .item {
                    margin-bottom: 70px;
                    display: flex;
                    align-items: center;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .img {
                        min-width: 70px;
                        margin-right: 70px;
                        img {
                            width: 80%;
                        }
                    }
                    span {
                        display: block;
                        font-weight: normal;
                        font-size: 25px;
                        line-height: 34px;
                        letter-spacing: -0.05em;
                        
                        color: rgba(255, 255, 255,.6);
                        b {
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .right {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                .socials {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 50px;
                    a {
                        margin: 0 20px;
                    }
                }
                .btn {
                    padding: 13px 50px;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 34px;
                    text-align: center;
                    letter-spacing: -0.05em;
                    text-decoration: none;
                    background: #0071E0;
                    border-radius: 100px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.section-one {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        position: relative;
        &::before {
            content: "";
            width: 100%;
            max-width: 646px;
            height: 100%;
            min-height: 542px;
            position: absolute;
            right: 0;
            z-index: -5;
            background: url("../images/top.png") center right no-repeat;
            background-size: cover;
        }
    }
}
.section-one-title {
    margin-bottom: 70px;
    font-weight: 500;
    font-size: 50px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: #7a7a7a;
    b {
        color: #fff;
    }
    img {
        display: inline;
        width: 50px;
        vertical-align: middle;
    }
}
.section-one-tg {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 25px;
    line-height: 98.7%;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    margin-bottom: 70px;
    color: #959595;
    text-decoration: none;
    transition: 0.3s;
    img {
        margin-right: 30px;
    }
    .imgs {
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-1 {

    }
    .img-2 {
        display: none;
    }
    &:hover {
        color: #fff;
        .img-1 {
            display: none;
        }
        .img-2 {
            display: block;
        }   
    }
}
.section-one-btns {
    width: 100%;
    max-width: 520px;
    display: flex;
    align-items: center;
    border: 1px solid #2E2E2E;
    border-radius: 100px;
    .btn {
        min-height: 62px;
        max-height: 62px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: normal;
        font-size: 25px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        border-radius: 100px;
        transition: 0.3s;
        text-decoration: none;
        &:nth-child(2) {
            width: 60%;
        }
        &:hover {
            background: #0071E0;
        }
        &.active {
            background: #0071E0;
        }
    }
}

.modal-form-quiz {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    &.active {
        opacity: 1;
        pointer-events: visible;
        .modal-form-quiz-content {
            transform: scale(1);
        }
    }

    &-bg {
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 999;
        position: absolute;
        left: 0;
        top: 0;
        background: #080809;
        opacity: 0.5;
    }
    &-content {
        width: 100%;
        max-width: 624px;
        padding: 40px;
        position: relative;
        z-index: 1001;
        background: #080809;
        border: 1px solid #343434;
        box-sizing: border-box;
        border-radius: 15px;
        transform: scale(0);
        transition: 0.3s;
        .items {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            &.active {
                display: flex;
            }
            &-title {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                
                margin-bottom: 50px;
                span {
                    display: block;
                    font-weight: 900;
                    font-size: 25px;
                    line-height: 30px;
                    letter-spacing: -0.01em;

                    color: #FBFAFA;
                }
              
                a {
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
            .type-row {
                width: 100%;
                display: flex;
                align-items: center;
                &-check {
                    position: relative;
                    width: auto;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    input {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 2;
                        cursor: pointer;
                    }
                    input:checked ~ .type-row-check-text {
                        border: 1px solid transparent;
                        background: #0071E0;
                    } 
                    &-text {
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.005em;
                        text-transform: uppercase;
                        color: #FBFAFA;
                        padding: 13px 20px;
                        border: 1px solid #343434;
                        border-radius: 69.6864px;
                        cursor: pointer;
                    }
                }
            }
            .type-textarea {
                width: 100%;
                border-bottom: 1px solid #343434;
                padding: 10px 10px 20px 10px;
                textarea {
                    width: 100%;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.005em;
                    color: #FBFAFA;
                    background: transparent;
                    border: none;
                    outline: none;
                    resize: none;
                }
            }
            .type-input-row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .type-input {
                width: 100%;
                border-bottom: 1px solid #343434;
                padding: 10px;
                margin: 0 7px;
                &:last-child {
                    margin-right: 0;
                }
                input {
                    width: 100%;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.005em;
                    color: #B4B4B4;
                    border: none;
                    background: transparent;

                }
            }
            .bt-row {
    
                display: flex;
                align-items: center;
                .btn {
                    margin-right: 10px;
                    &.btn-black {
                        color: #fff;
                        background: #080809;
                        border: none;
                        &::after {
                            opacity: 0;
                        }
                    }
                }
            }
            .row-all-btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;
            }
            .text-error {
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;

                text-align: right;
                letter-spacing: 0.005em;
                text-transform: uppercase;
                display: none;
                color: #FF4141;
                &.active {
                    display: block;
                }
            }
            .btn {
               
                font-size: 16px;
                line-height: 15px;
                padding: 13px 20px;
                background: #fff;
                border-radius: 100px;
                cursor: pointer;
                color: #080808;
                &.btn-return-js {
                    margin-top: 0;
                }
            }
        }
     
    }
}

@media (max-width:980px) {
    .header {
        width: 100%;
        min-height: 70px;
        .container {
            padding: 10px;
            .logo {
                img {
                    width: 30px;
                }
            }
            .menu {
                display: none;
            }
            .lang {
                display: none;
            }
            .menu-m {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                z-index: 40;
                &.active {
                    .menu-m-wrapper {
                        display: block;
                    }
                }
                .menu-m-open {
                    width: 100%;
                    max-width: 20px;
                    min-height: 18px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    span {
                        width: 100%;
                        height: 2px;
                        background: #fff;
                    }
                }
                .menu-m-wrapper {
                    position: absolute;
                    top: -10px;
                   
                    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
                    border-radius: 10px;
                    width: 100%;
                    max-width: 202px;
                    min-height: 204px;
                    padding: 20px;
                    display: none;
                    .close {
                        position: absolute;
                        right: 10px;
                        top: 25px;
                        display: flex;
                        width: 20px;
                        min-height: 20px;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        z-index: 20;
                        span {
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            position: absolute;
                            &:nth-child(1) {
                                transform: rotate(45deg);
                            }
                            &:nth-child(2) {
                                transform: rotate(-45deg);
                            }
                            
                        }
                    }
                    .top {
                        .lang-m {
                            cursor: pointer;
                            position: relative;
                            margin-bottom: 10px;
                            &.active {
                                .lang-top {
                                    img {
                                        transform: rotate(0deg);
                                    }
                                }
                                .lang-drop {
                                    display: flex;
                                    height: unset;
                                }
                            }
                            .lang-top {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding: 0px;
                                background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
                                border-radius: 10px;
                
                                span {
                
                                    margin-right: 10px;
                                    color: #fff;
                                    font-size: 15px;
                                    line-height: 100%;
                
                                    margin-top: -3px;
                                    
                
                                }
                                img {
                                    width: 7px;
                                    transform: rotate(180deg);
                                }
                            }
                            .lang-drop {
                                width: 100%;
                                background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
                                border-radius: 10px;
                              
                                flex-direction: column;
                                position: absolute;
                                top: 110%;
                                padding: 10px 0;
                                min-height: 180px;
                                display: none;
                                height: 0;
                               
                                a {
                                    margin-bottom: 15px;
                                    color: #fff;
                                    font-size: 15px;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .bottom {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        a {
                            color: #fff;
                            display: block;
                            width: 100%;
                            padding-bottom: 20px;
                            border-bottom: 1px solid #3E3E3E;
                            margin-top: 20px;
                            text-decoration: none;
                            &:last-child {
                                border-bottom:none;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .price-adent {
        .left {
          
            p {
                font-size: 16px;
            }
        }
        .right {
           
            p {
                font-size: 16px;
            }
        }
    }

    .top__links-mod {

        justify-content: center;
        .top__link-mod {
            width: 100%;
            min-height: 41px;
            font-size: 15px;
            line-height: 21px;
            padding: 0;
        }
    }

    .sction-adent {
  
        padding-top: 0;
        padding-bottom: 100px;
        .container {
            h2 {
                font-size: 25px;
                margin-bottom: 35px;
            }
            .title-box {
                flex-wrap: wrap;
               
                .img {
                    min-width: 130px;
                    min-height: 130px;
                    max-width: 130px;
                }
                .btn-go {
                    flex-basis: 50%;
                    span {
                        font-size: 17px;
                        margin-bottom: 15px;
                        img {
                            width: 15px;
                        }
                    }
                    .btn {
                        padding: 10px 15px;
                        font-size: 14px;
                    }
                }
                .table-column {
                    width: 100%;
                    margin-top: 30px;
                    .colum {
                        span {
                            font-size: 12px;
                        }
                        p {
                            font-size: 20px;
                            
                            line-height: 140%;
                        }
                    }
                }
            }
            .sliders-boxs {
                margin-top: 35px;
            }
        }
    }

    .consultation {
        padding-top: 0;
        .container {
            .box {
                flex-direction: column;
                .left {
                    width: 100%;
                    margin-bottom: 70px;
                    justify-content: flex-start;
                        align-items: flex-start;
                    .item {
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        
                        .img {
                            margin-right: 35px;
                            margin-bottom: 15px;
                            min-width: 50px;
                            
                        }
                        span {
                            font-size: 16px;
                            line-height: 140%;
                        }
                    }
                }
                .right {
                    width: 100%;
                    align-items: flex-start;
                    .socials {
                        margin-bottom: 25px;
                       
                        a {
                            margin: 0 10px;
                            &:first-child {
                                margin-left: 0;
                            }
                            img {
                                width: 25px;
                            }
                        }
                    }
                    .btn {
                        padding: 13px 25px;
                        font-size: 15px;
                        line-height: 21px;
                    }
                }
            }
        }
    }

    .container {
        max-width: 100% !important;
        min-width: 100%;
    }


    .section-one {

        .container {

            &::before {
                content: "";
                width: 100%;
                max-width: 100%;
                height: 100%;

                min-height: 542px;
                position: absolute;
                right: 0;
                bottom: -100px;
                z-index: -5;
                background: url("../images/top.png") bottom right no-repeat;
                background-size: contain;
            }
        }
    }
    .section-one-title {
        margin-bottom: 35px;

        font-size: 30px;
        img {
            width: 30px;
        }

    }
    .section-one-tg {

        font-size: 18px;

    }
    .section-one-btns {

        backdrop-filter: blur(10px);
        .btn {
            min-height: 50px;
            max-height: 50px;
            font-size: 14px;

            &:nth-child(2) {
                width: 60%;
            }
            &:hover {
                background: #0071E0;
            }
        }
    }

    .modal-form-quiz {
        padding: 15px;
        &-content {
            padding: 30px 20px;
            .items {
                &-title {
                    margin-bottom: 40px;
                    span {
                        width: 90%;
                        font-size: 20px;
                        line-height: 24px;
                      
                    }
                }
                .type-row {
                    flex-wrap: wrap;
                    &-check {
                        margin-bottom: 15px;

                    }
                }
                .btn {

                }
            }
        }
    }
}
@media (max-width:480px) {
    .header {
        width: 100%;
        min-height: 70px;
        
        .container {
            padding: 10px;
            .logo {
                img {
                    width: 30px;
                }
            }
            .menu {
                display: none;
            }
            .lang {
                display: none;
            }
            .menu-m {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                z-index: 40;
                &.active {
                    .menu-m-wrapper {
                        display: block;
                    }
                }
                .menu-m-open {
                    width: 100%;
                    max-width: 20px;
                    min-height: 18px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    span {
                        width: 100%;
                        height: 2px;
                        background: #fff;
                    }
                }
                .menu-m-wrapper {
                    position: absolute;
                    top: -10px;
                   
                    background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
                    border-radius: 10px;
                    width: 100%;
                    max-width: 202px;
                    min-height: 204px;
                    padding: 20px;
                    display: none;
                    .close {
                        position: absolute;
                        right: 10px;
                        top: 25px;
                        display: flex;
                        width: 20px;
                        min-height: 20px;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        z-index: 20;
                        span {
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            position: absolute;
                            &:nth-child(1) {
                                transform: rotate(45deg);
                            }
                            &:nth-child(2) {
                                transform: rotate(-45deg);
                            }
                            
                        }
                    }
                    .top {
                        .lang-m {
                            cursor: pointer;
                            position: relative;
                            margin-bottom: 10px;
                            &.active {
                                .lang-top {
                                    img {
                                        transform: rotate(0deg);
                                    }
                                }
                                .lang-drop {
                                    display: flex;
                                    height: unset;
                                }
                            }
                            .lang-top {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding: 0px;
                                background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
                                border-radius: 10px;
                
                                span {
                
                                    margin-right: 10px;
                                    color: #fff;
                                    font-size: 15px;
                                    line-height: 100%;
                
                                    margin-top: -3px;
                                    
                
                                }
                                img {
                                    width: 7px;
                                    transform: rotate(180deg);
                                }
                            }
                            .lang-drop {
                                width: 100%;
                                background: linear-gradient(0deg, #181818, #181818), #C4C4C4;
                                border-radius: 10px;
                              
                                flex-direction: column;
                                position: absolute;
                                top: 110%;
                                padding: 10px 0;
                                min-height: 180px;
                                display: none;
                                height: 0;
                               
                                a {
                                    margin-bottom: 15px;
                                    color: #fff;
                                    font-size: 15px;
                                 
                                }
                            }
                        }
                    }
                    .bottom {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        a {
                            color: #fff;
                            display: block;
                            width: 100%;
                            padding-bottom: 20px;
                            border-bottom: 1px solid #3E3E3E;
                            margin-top: 20px;
                            &:last-child {
                                border-bottom:none;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .price-adent {
        .left {
          
            p {
                font-size: 16px;
            }
        }
        .right {
           
            p {
                font-size: 16px;
            }
        }
    }

    .top__links-mod {

        justify-content: center;
        .top__link-mod {
            width: 100%;
            min-height: 41px;
            font-size: 15px;
            line-height: 21px;
            padding: 0;
        }
    }

    .sction-adent {
  
        padding-top: 0;
        padding-bottom: 100px;
        .container {
            h2 {
                font-size: 25px;
                margin-bottom: 35px;
            }
            .title-box {
                flex-wrap: wrap;
               
                .img {
                    min-width: 130px;
                    min-height: 130px;
                    max-width: 130px;
                }
                .btn-go {
                    flex-basis: 50%;
                    span {
                        font-size: 17px;
                        margin-bottom: 15px;
                        img {
                            width: 15px;
                        }
                    }
                    .btn {
                        padding: 10px 15px;
                        font-size: 14px;
                    }
                }
                .table-column {
                    width: 100%;
                    margin-top: 30px;
                    .colum {
                        span {
                            font-size: 12px;
                        }
                        p {
                            font-size: 20px;
                            
                            line-height: 140%;
                        }
                    }
                }
            }
            .sliders-boxs {
                margin-top: 35px;
            }
        }
    }

    .consultation {
        padding-top: 0;
        .container {
            .box {
                flex-direction: column;
                .left {
                    width: 100%;
                    margin-bottom: 70px;
                    .item {
                   
                        flex-direction: column;
                        align-items: flex-start;
                        .img {
                            margin-right: 35px;
                            margin-bottom: 15px;
                            min-width: 50px;
                            
                        }
                        span {
                            font-size: 16px;
                            line-height: 140%;
                        }
                    }
                }
                .right {
                    width: 100%;
                    align-items: flex-start;
                    .socials {
                        margin-bottom: 25px;
                       
                        a {
                            margin: 0 10px;
                            &:first-child {
                                margin-left: 0;
                            }
                            img {
                                width: 25px;
                            }
                        }
                    }
                    .btn {
                        padding: 13px 25px;
                        font-size: 15px;
                        line-height: 21px;
                    }
                }
            }
        }
    }

}